<!-- Page SideBar Start -->
<aside class="app-sidebar" >
<!-- <div class="sidemenu-scroll"> -->
    
    <!--aside open-->
    <div class="app-sidebar app-sidebar2">
        <div class="app-sidebar__logo">
            <a class="header-brand" href="index.html">
                <img src="../../assets/images/brand/logo.png" class="header-brand-img desktop-lgo" alt="Covido logo">
                <img src="../../assets/images/brand/logo1.png" class="header-brand-img dark-logo" alt="Covido logo">
                <img src="../../assets/images/brand/favicon.png" class="header-brand-img mobile-logo" alt="Covido logo">
                        <img src="../../assets/images/brand/favicon1.png" class="header-brand-img darkmobile-logo" alt="Covido logo">
                    </a>
                </div>
            </div>
            
            <aside class="app-sidebar app-sidebar3">
                <perfect-scrollbar >
                <div class="app-sidebar__user">
                    <div class="dropdown user-pro-body text-center">
                        <div class="user-pic">
                            <img src="../../assets/images/users/16.jpg" alt="user-img" class="avatar-xl rounded-circle mb-1">
                        </div>
                        <div class="user-info">
                            <h5 class=" mb-1 font-weight-bold">John Thomson</h5>
                            <span class="text-muted app-sidebar__user-name text-sm">App Developer</span>
                        </div>
                    </div>
                </div>
                <ul class="side-menu">
                    <li class="slide side-item-category" *ngFor="let menuItem of menuItems" [ngClass]="{active: menuItem.active  ,'is-expanded': menuItem.active}">
                        <!-- Sub -->
                        <a href="javascript:void(0)" class="side-menu__item" [ngClass]="{active: menuItem.active}"
                            *ngIf="menuItem.type === 'sub'" (click)="toggleNavActive(menuItem)">
                            <div>
                                <!-- <i class="material-icons-outlined">{{menuItem.icon}}</i> -->
                                <i-feather name="{{menuItem.icon}}"  class="side-menu__icon" ></i-feather>
                            </div>
                            <span class="side-menu__label">{{menuItem.title}}</span>
                            <i class="angle fa fa-angle-{{menuItem.active ? 'left' : 'down'}}" *ngIf="menuItem.children"></i>

                        </a>
                        <!-- link -->
                        <a [routerLink]="!menuItem.type ? null : [menuItem.path]" routerLinkActive="active" class="side-menu__item"
                            [ngClass]="{active: menuItem.active}" *ngIf="menuItem.type === 'link'">
                            <div >
                                <!-- <i class="material-icons-outlined">{{menuItem.icon}}</i> -->
                                <i-feather name="{{menuItem.icon}}"  class="side-menu__icon" ></i-feather>
                            </div>
                            <span class="side-menu__label">{{menuItem.title}}</span>
                        </a>

                        <!-- 2nd level menu -->
                        <ul class="slide-menu" [ngClass]="{active: menuItem.active}" *ngIf="menuItem.children">
                            <li class="sub-slide" *ngFor="let childrenItem of menuItem.children"
                                [ngClass]="{active: childrenItem.active, 'is-expanded': childrenItem.active}">
                                <!-- Sub -->
                                <a href="javascript:void(0)" class="sub-side-menu__item" *ngIf="childrenItem.type === 'sub'"
                                    (click)="toggleNavActive(childrenItem)">
                                    <span class="sub-side-menu__label">{{childrenItem.title}}</span>
                                    <i class="sub-angle fe fe-chevron-{{childrenItem.active ? 'down' : 'right'}}"
                                        *ngIf="menuItem.children"></i>
                                </a>
                                <!-- Link -->
                                <a [routerLink]="!childrenItem.type ? null : [childrenItem.path]" class="slide-item"
                                    *ngIf="childrenItem.type === 'link'" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">
                                    <span>{{childrenItem.title}}</span>
                                </a>
                                <ul class="sub-slide-menu" *ngIf="childrenItem.children" [ngClass]="{active: childrenItem.active}">
                                    <li *ngFor="let childrenSubItem of childrenItem.children"
                                        [ngClass]="{active: childrenSubItem.active}">
                                        <!-- link -->
                                        <a class="sub-slide-item"
                                            [routerLink]="!childrenSubItem.type ? null : [childrenSubItem.path]"
                                            *ngIf="childrenSubItem.type === 'link'" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact : true}">
                                            <span>{{childrenSubItem.title}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="app-sidebar-help">
                    <div class="dropdown text-center">
                        <div class="help d-flex card-options" ngbDropdown>
                            <a href="javascript:void(0)" class="nav-link p-0 help-dropdown" ngbDropdownToggle>
                                <span class="font-weight-bold">Help Info</span> <i class="fa fa-angle-down ms-2"></i>
                            </a>
                            <div ngbDropdownMenu class="dropdown-menu-end dropdown-menu-arrow p-4">
                                <div class="border-bottom pb-3">
                                    <h4 class="font-weight-bold">Help</h4>
                                    <a class="text-primary d-block" href="javascript:void(0)">Knowledge base</a>
                                    <a class="text-primary d-block" href="javascript:void(0)">Contact@info.com</a>
                                    <a class="text-primary d-block" href="javascript:void(0)">88 8888 8888</a>
                                </div>
                                <div class="border-bottom pb-3 pt-3 mb-3">
                                    <p class="mb-1">Your Fax Number</p>
                                    <a class="font-weight-bold" href="javascript:void(0)">88 8888 8888</a>
                                </div>
                                <a class="text-primary" href="login-1.html">Logout</a>
                            </div>
                            <div class="ms-auto">
                                <a class="nav-link icon p-0" href="javascript:void(0)">
                                    <svg class="header-icon" x="1008" y="1248" viewBox="0 0 24 24" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false"><path opacity=".3" d="M12 6.5c-2.49 0-4 2.02-4 4.5v6h8v-6c0-2.48-1.51-4.5-4-4.5z"></path><path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-11c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2v-5zm-2 6H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6zM7.58 4.08L6.15 2.65C3.75 4.48 2.17 7.3 2.03 10.5h2a8.445 8.445 0 013.55-6.42zm12.39 6.42h2c-.15-3.2-1.73-6.02-4.12-7.85l-1.42 1.43a8.495 8.495 0 013.54 6.42z"></path></svg>
                                    <span class="pulse "></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </perfect-scrollbar>
            </aside>
        <!-- </div> -->
</aside>