<div class="horizontalMenucontainer">
    <div class="page">
        <div class="page-main">

            <!-- Header -->
            <app-hori-header></app-hori-header>
            <!-- /Header -->

            <!-- Horizonatal menu
            <app-hori-menu></app-hori-menu>-->
            <!--End  Horizonatal menu-->

            <!-- Main Content -->
            <!-- app-content
             .page-body
          -->
            <div class="app-content page-body" style="margin-top:0px !important;">
                <div class="container-" (click)="clickonBody()" style="margin:5px;margin-top:0px;">


                    <router-outlet></router-outlet>

                </div>
            </div>
            <!-- /Main Content -->
            <br/>
            <!-- Footer -->
            <app-footer></app-footer>
            <!-- /Footer -->
        </div>
    </div>
</div>
