<header class="fusion-header-wrapper">
    <div
        class="fusion-header-v1 fusion-logo-alignment fusion-logo-left fusion-sticky-menu- fusion-sticky-logo- fusion-mobile-logo-1  fusion-mobile-menu-design-modern">
        <div class="fusion-header-sticky-height" style="height: 150px; overflow: visible;"></div>
        <div class="fusion-header" style="height: 150px; overflow: visible; top: 0px;">
            <div class="fusion-row">
                <div class="fusion-logo" data-margin-top="20px" data-margin-bottom="20px" data-margin-left="0px"
                    data-margin-right="0px">
                    <a class="fusion-logo-link" routerLink="/home">
                        <!-- standard logo -->
                        <img src="assets/images/cratechnologie-290-110.jpg"
                            srcset="assets/images/cratechnologie-290-110.jpg 1x, assets/images/cratechnologie-580-220.jpg 2x"
                            width="290" height="110" style="max-height:110px;height:auto;" alt="CRA TECHNOLOGIE Logo"
                            data-retina_logo_url="assets/images/cratechnologie-580-220.jpg"
                            class="fusion-standard-logo">

                        <!-- mobile logo -->
                        <img src="assets/images/cratechnologie-196-74.jpg"
                            srcset="assets/images/cratechnologie-196-74.jpg 1x, assets/images/cratechnologie-392-148.jpg 2x"
                            width="196" height="74" style="max-height:74px;height:auto;" alt="CRA TECHNOLOGIE Logo"
                            data-retina_logo_url="assets/images/cratechnologie-392-148.jpg" class="fusion-mobile-logo">

                    </a>
                </div>
                <nav class="fusion-main-menu" aria-label="Menu principal">
                    <ul id="menu-construction-main-menu" class="fusion-menu">
                        <li id="menu-item-21"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-21 fusion-dropdown-menu"
                            data-item-id="21"><a routerLink="/a-propos" class="fusion-arrow-highlight"
                                aria-haspopup="true"><span class="menu-text">À PROPOS<span class="fusion-arrow-svg"><svg
                                            height="12px" width="23px">
                                            <path d="M0 0 L11.5 12 L23 0 Z" fill="#ffffff"></path>
                                        </svg></span><span class="fusion-dropdown-svg"><svg height="12px" width="23px">
                                            <path d="M0 12 L11.5 0 L23 12 Z" fill="#ffffff"></path>
                                        </svg></span></span></a>
                            <ul class="sub-menu">
                                <li id="menu-item-1274"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1274 fusion-dropdown-submenu">
                                    <a routerLink="/a-propos" class="fusion-arrow-highlight"><span>CRA
                                            TECHNOLOGIE</span></a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-20"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-20 fusion-dropdown-menu"
                            data-item-id="20"><a routerLink="/services" class="fusion-arrow-highlight"
                                aria-haspopup="true"><span class="menu-text">SERVICES<span class="fusion-arrow-svg"><svg
                                            height="12px" width="23px">
                                            <path d="M0 0 L11.5 12 L23 0 Z" fill="#ffffff"></path>
                                        </svg></span><span class="fusion-dropdown-svg"><svg height="12px" width="23px">
                                            <path d="M0 12 L11.5 0 L23 12 Z" fill="#ffffff"></path>
                                        </svg></span></span></a>
                            <ul class="sub-menu">
                                <li
                                    class="menu-item menu-item-type-post_type menu-item-object-page fusion-dropdown-submenu">
                                    <a routerLink="/developpement-logiciel-et-service-web"
                                        class="fusion-arrow-highlight">
                                        <span>DÉVELOPPEMENT LOGICIEL & SERVICE DU WEB</span>
                                    </a>
                                </li>
                                <li
                                    class="menu-item menu-item-type-post_type menu-item-object-page fusion-dropdown-submenu">
                                    <a routerLink="/design-graphisme" class="fusion-arrow-highlight">
                                        <span>DESIGN/GRAPHISME</span>
                                    </a>
                                </li>
                                <li
                                    class="menu-item menu-item-type-post_type menu-item-object-page fusion-dropdown-submenu">
                                    <a routerLink="/business-intelligence" class="fusion-arrow-highlight">
                                        <span>BUSINESS INTELLIGENCE</span>
                                    </a>
                                </li>
                                <li
                                    class="menu-item menu-item-type-post_type menu-item-object-page fusion-dropdown-submenu">
                                    <a routerLink="/fourniture-materiels" class="fusion-arrow-highlight">
                                        <span>FOURNITURE MATÉRIELS</span>
                                    </a>
                                </li>
                                <li
                                    class="menu-item menu-item-type-post_type menu-item-object-page fusion-dropdown-submenu">
                                    <a routerLink="/gestion-infrastructure" class="fusion-arrow-highlight">
                                        <span>GESTION D'INFRASTRUCTURE & CLOUD</span>
                                    </a>
                                </li>
                                <li
                                    class="menu-item menu-item-type-post_type menu-item-object-page fusion-dropdown-submenu">
                                    <a routerLink="/reseau-informatique" class="fusion-arrow-highlight">
                                        <span>RÉSEAU INFORMATIQUE</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-1448"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1448"
                            data-item-id="1448"><a routerLink="/nous-joindre" class="fusion-arrow-highlight"><span
                                    class="menu-text">NOUS
                                    JOINDRE<span class="fusion-arrow-svg"><svg height="12px" width="23px">
                                            <path d="M0 0 L11.5 12 L23 0 Z" fill="#ffffff"></path>
                                        </svg></span></span></a></li>
                        <li id="menu-item-1893"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1893 fusion-menu-item-button"
                            data-item-id="1893"><a routerLink="/demande-service" class="fusion-arrow-highlight"><span
                                    class="menu-text fusion-button button-default button-large">DEMANDE DE
                                    SERVICE</span></a></li>
                    </ul>
                </nav>
                <div class="fusion-mobile-menu-icons">
                    <a href="#" class="fusion-icon awb-icon-bars" aria-label="Afficher/masquer le menu mobile"
                        aria-expanded="false" aria-controls="mobile-menu-construction-main-menu"></a>
                </div>
                <nav class="fusion-mobile-nav-holder fusion-mobile-menu-text-align-left"
                    aria-label="Menu principal mobile" style="display: none;">
                    <ul id="mobile-menu-construction-main-menu" class="fusion-menu">
                        <li id="mobile-menu-item-21" class="fusion-mobile-nav-item menu-item-has-children"
                            data-item-id="21"><a href="#" class="fusion-arrow-highlight" aria-haspopup="true"><span
                                    class="menu-text">À PROPOS</span></a><button href="#"
                                aria-label="Ouvrez le sous-menu de À PROPOS" aria-expanded="false"
                                class="fusion-open-submenu"></button>
                            <ul class="sub-menu" style="display: none;">
                                <li id="mobile-menu-item-1274" class="fusion-mobile-nav-item"><a routerLink="/a-propos"
                                        class="fusion-arrow-highlight"><span>CRA
                                            TECHNOLOGIE</span></a></li>
                            </ul>
                        </li>
                        <li id="mobile-menu-item-20" class="fusion-mobile-nav-item menu-item-has-children"
                            data-item-id="20"><a href="#" class="fusion-arrow-highlight" aria-haspopup="true"><span
                                    class="menu-text">SERVICES</span></a><button href="#"
                                aria-label="Ouvrez le sous-menu de SERVICES" aria-expanded="false"
                                class="fusion-open-submenu"></button>
                            <ul class="sub-menu" style="display: none;">
                                <li id="mobile-menu-item-1420" class="fusion-mobile-nav-item"><a
                                        routerLink="/developpement-logiciel-et-service-web"
                                        class="fusion-arrow-highlight"><span>DÉVELOPPEMENT LOGICIEL & SERVICE DU
                                            WEB</span></a></li>
                                <li id="mobile-menu-item-1423" class="fusion-mobile-nav-item"><a
                                        routerLink="/design-graphisme"
                                        class="fusion-arrow-highlight"><span>DESIGN/GRAPHISME
                                            PROBLÈMES</span></a></li>
                                <li id="mobile-menu-item-1419" class="fusion-mobile-nav-item"><a
                                        routerLink="/business-intelligence"
                                        class="fusion-arrow-highlight"><span>BUSINESS INTELLIGENCE</span></a>
                                </li>
                                <li id="mobile-menu-item-1782" class="fusion-mobile-nav-item"><a
                                        routerLink="/fourniture-materiels"
                                        class="fusion-arrow-highlight"><span>FOURNITURE MATÉRIELS</span></a></li>
                                <li id="mobile-menu-item-1417" class="fusion-mobile-nav-item"><a
                                        routerLink="/gestion-infrastructure" class="fusion-arrow-highlight"><span>GESTION
                                            D'INFRASTRUCTURE & CLOUD</span></a></li>
                                <li id="mobile-menu-item-1418" class="fusion-mobile-nav-item"><a
                                        routerLink="/reseau-informatique" class="fusion-arrow-highlight"><span>RÉSEAU
                                            INFORMATIQUE</span></a></li>
                            </ul>
                        </li>
                        <li id="mobile-menu-item-1448" class="fusion-mobile-nav-item" data-item-id="1448"><a
                                routerLink="/nous-joindre" class="fusion-arrow-highlight"><span class="menu-text">NOUS
                                    JOINDRE</span></a></li>
                        <li id="mobile-menu-item-1893" class="fusion-mobile-nav-item" data-item-id="1893"><a
                                routerLink="/demande-service" class="fusion-arrow-highlight"><span
                                    class="menu-text">DEMANDE DE
                                    SERVICE</span></a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    <div class="fusion-clearfix"></div>
</header>