<div class="fusion-footer">
    <footer class="fusion-footer-widget-area fusion-widget-area">
        <div class="fusion-row">
            <div class="fusion-columns fusion-columns-3 fusion-widget-area">

                <div class="fusion-column col-lg-4 col-md-4 col-sm-4">
                    <section id="media_image-2" class="fusion-footer-widget-column widget widget_media_image"
                        style="border-style: solid;border-color:transparent;border-width:0px;margin-bottom: 35px;"><img
                            width="196" height="54" src="assets/images/logo-pied-de-page-166-52.png"
                            class="image wp-image-1909  attachment-full size-full" alt="" decoding="async"
                            style="max-width: 100%; height: auto;">
                        <div style="clear:both;"></div>
                    </section>
                    <section id="text-2" class="fusion-footer-widget-column widget widget_text">
                        <div class="textwidget">
                            <p>Nos experts accompagnent les entreprises publiques, privées et les organisations à but
                                non lucratif dans leurs projets de développement de solutions technologiques et
                                d'amélioration des processus d’affaires ainsi que des systèmes informatiques.</p>

                            <div class="fusion-sep-clear"></div>
                            <div class="fusion-separator fusion-full-width-sep fusion-clearfix"
                                style="float:left;margin-top:20px;margin-bottom:0px;width:100%;"></div>
                            <div class="fusion-sep-clear"></div>


                            <div class="fusion-button-wrapper"><a
                                    class="fusion-button button-flat button-large button-custom fusion-button-default button-8 fusion-button-default-span fusion-button-default-type"
                                    style="--button_accent_color:#ffffff;--button_accent_hover_color:#fff;--button_border_hover_color:#fff;--button_gradient_top_color:#378bb0;--button_gradient_bottom_color:#378bb0;--button_gradient_top_color_hover:#333;--button_gradient_bottom_color_hover:#333;"
                                    target="_self" routerLink="/a-propos" rel="noopener"><span
                                        class="fusion-button-text">En savoir
                                        plus</span></a></div>
                        </div>
                        <div style="clear:both;"></div>
                    </section>
                </div>
                <div class="fusion-column col-lg-4 col-md-4 col-sm-4">
                    <section id="text-3" class="fusion-footer-widget-column widget widget_text"
                        style="border-style: solid;border-color:transparent;border-width:0px;">
                        <h4 class="widget-title fusion-responsive-typography-calculated"
                            style="--fontSize: 15; line-height: 1.5; --minFontSize: 15;" data-fontsize="15"
                            data-lineheight="22.5px">NOUS JOINDRE</h4>
                        <div class="textwidget">
                            <ul style="--awb-iconcolor:#717171;--awb-line-height:23.8px;--awb-icon-width:23.8px;--awb-icon-height:23.8px;--awb-icon-margin:9.8px;--awb-content-margin:33.6px;"
                                class="fusion-checklist fusion-checklist-1 fusion-checklist-default type-icons">
                                <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                            class="fusion-li-icon bi bi-globe" aria-hidden="true"></i></span>
                                    <div class="fusion-li-item-content">
                                        <p>Rue <span style="font-family: arial;">822</span> ; Porte : <span
                                                style="font-family: arial;">016</span> à Baco Djicoroni ACI,<br>
                                            Bamako</p>
                                    </div>
                                </li>
                                <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                            class="fusion-li-icon bi bi-telephone-fill" aria-hidden="true"></i></span>
                                    <div class="fusion-li-item-content">
                                        <a href="tel:+22344906148"
                                            onclick="ga(ga.getAll()[0].get('name')+'.send', 'event', 'Call tracking', 'Click to call', 'Phone in mobile');"
                                            class=""><span style="font-family: arial;">(+223) 44 90 61 48</span></a>
                                    </div>
                                </li>
                                <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                            class="fusion-li-icon bi bi-clock" aria-hidden="true"></i></span>
                                    <div class="fusion-li-item-content">Lundi - Vendredi: <span
                                            style="font-family: arial;">9h00 - 17h00</span></div>
                                </li>
                                <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                            class="fusion-li-icon bi bi-clock" aria-hidden="true"></i></span>
                                    <div class="fusion-li-item-content">Samedi - Dimanche: Fermé</div>
                                </li>
                            </ul>
                        </div>
                        <div style="clear:both;"></div>
                    </section>
                    <section id="media_image-3" class="fusion-footer-widget-column widget widget_media_image"
                        style="border-style: solid;border-color:transparent;border-width:0px;">
                        <a href="https://www.google.com/search?q=%5BCRA%5D+TECHNOLOGIE&oq=%5BCRA%5D+TECHNOLOGIE&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQABiABDIICAIQABgWGB7SAQkxNjQ0M2owajeoAgCwAgA&sourceid=chrome&ie=UTF-8"
                            target="_blank"><img width="155" height="155" src="assets/images/AVIS_GOOGLE-155x155-1.png"
                                class="image wp-image-1753  attachment-full size-full" alt="" decoding="async"
                                style="max-width: 100%; height: auto;"
                                srcset="assets/images/AVIS_GOOGLE-155x155-1-66x66.png 66w, assets/images/AVIS_GOOGLE-155x155-1-150x150.png 150w, assets/images/AVIS_GOOGLE-155x155-1.png 155w"
                                sizes="(max-width: 155px) 100vw, 155px"></a>
                        <div style="clear:both;"></div>
                    </section>
                </div>
                <div class="fusion-column fusion-column-last col-lg-4 col-md-4 col-sm-4">
                    <style type="text/css" data-id="avada-vertical-menu-widget-2">
                        #avada-vertical-menu-widget-2>ul.menu {
                            margin-top: -8px;
                        }
                    </style>
                    <section id="avada-vertical-menu-widget-2"
                        class="fusion-footer-widget-column widget avada_vertical_menu">
                        <style>
                            #fusion-vertical-menu-widget-avada-vertical-menu-widget-2-nav ul.menu li a {
                                font-size: 14px;
                            }
                        </style>
                        <nav id="fusion-vertical-menu-widget-avada-vertical-menu-widget-2-nav"
                            class="fusion-vertical-menu-widget fusion-menu hover left no-border"
                            aria-label="Secondary Navigation: ">
                            <ul id="menu-construction-main-menu-1" class="menu">
                                <li
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-21">
                                    <a routerLink="/a-propos">
                                        <span class="link-text"> À PROPOS</span><span class="ms-3"><i
                                                class="bi bi-caret-down"></i></span></a>
                                    <ul class="sub-menu">
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1274">
                                            <a routerLink="/a-propos"><span class="link-text"> CRA
                                                    TECHNOLOGIE</span><span class="arrow"></span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-20">
                                    <a routerLink="/services"><span class="link-text">
                                            SERVICES</span><span class="ms-3"><i
                                                class="bi bi-caret-down"></i></span></a>
                                    <ul class="sub-menu">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a routerLink="/developpement-logiciel-et-service-web">
                                                <span class="link-text">DÉVELOPPEMENT LOGICIEL & SERVICE DU WEB</span>
                                                <span class="arrow"></span>
                                            </a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a routerLink="/design-graphisme">
                                                <span class="link-text">DESIGN/GRAPHISME</span>
                                                <span class="arrow"></span>
                                            </a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a routerLink="/business-intelligence">
                                                <span class="link-text">BUSINESS INTELLIGENCE</span>
                                                <span class="arrow"></span>
                                            </a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a routerLink="/fourniture-materiels">
                                                <span class="link-text">FOURNITURE MATÉRIELS</span>
                                                <span class="arrow"></span>
                                            </a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a routerLink="/gestion-infrastructure">
                                                <span class="link-text">GESTION D'INFRASTRUCTURE & CLOUD</span>
                                                <span class="arrow"></span>
                                            </a>
                                        </li>
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a routerLink="/reseau-informatique">
                                                <span class="link-text">RÉSEAU INFORMATIQUE</span>
                                                <span class="arrow"></span>
                                            </a>
                                        </li>
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a routerLink="/securite">
                                                <span class="link-text">SÉCURITÉ & SURVEILLANCE</span>
                                                <span class="arrow"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1448">
                                    <a routerLink="/nous-joindre"><span class="link-text"> NOUS
                                            JOINDRE</span><span class="arrow"></span></a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1893">
                                    <a routerLink="/demande-service"><span class="link-text">
                                            DEMANDE DE SERVICE</span><span class="arrow"></span></a>
                                </li>
                            </ul>
                        </nav>
                        <div style="clear:both;"></div>
                    </section>
                </div>

                <div class="fusion-clearfix"></div>
            </div> <!-- fusion-columns -->
        </div> <!-- fusion-row -->
    </footer> <!-- fusion-footer-widget-area -->


    <footer id="footer" class="fusion-footer-copyright-area">
        <div class="fusion-row">
            <div class="fusion-copyright-content">

                <div class="fusion-copyright-notice">
                    <div>
                        © 2023 [CRA] TECHNOLOGIE &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;TOUS
                        DROITS RÉSERVÉS </div>
                </div>
                <div class="fusion-social-links-footer">
                    <div class="fusion-social-networks">
                        <div class="fusion-social-networks-wrapper">
                            <a class="fusion-social-network-icon fusion-tooltip fusion-facebook" data-placement="top"
                                data-title="Facebook" data-toggle="tooltip" title=""
                                href="https://www.facebook.com/profile.php?id=61552740533204" target="_blank"
                                rel="noreferrer" data-original-title="Facebook">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a class="fusion-social-network-icon fusion-tooltip fusion-twitter" data-placement="top"
                                data-title="Twitter" data-toggle="tooltip" title=""
                                href="https://twitter.com/CraTechnologie" target="_blank" rel="noopener noreferrer"
                                data-original-title="Twitter">
                                <i class="bi bi-twitter-x"></i>
                            </a>
                            <a class="fusion-social-network-icon fusion-tooltip fusion-instagram" data-placement="top"
                                data-title="Instagram" data-toggle="tooltip" title=""
                                href="https://www.instagram.com/cra_technologie/" target="_blank"
                                rel="noopener noreferrer" data-original-title="Instagram">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a class="fusion-social-network-icon fusion-tooltip fusion-linkedin" data-placement="top"
                                data-title="LinkedIn" data-toggle="tooltip" title=""
                                href="https://www.linkedin.com/company/cra-technologie" target="_blank"
                                rel="noopener noreferrer" data-original-title="LinkedIn">
                                <i class="bi bi-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div> <!-- fusion-fusion-copyright-content -->
        </div> <!-- fusion-row -->
    </footer> <!-- #footer -->
</div> <!-- fusion-footer -->