<div class="fusion-fullwidth fullwidth-box fusion-builder-row-7 fusion-parallax-down nonhundred-percent-fullwidth non-hundred-percent-height-scrolling fusion-equal-height-columns bg-parallax-parent"
    style="--awb-background-position: center bottom; --awb-border-sizes-top: 0px; --awb-border-sizes-bottom: 0px; --awb-border-sizes-left: 0px; --awb-border-sizes-right: 0px; --awb-border-radius-top-left: 0px; --awb-border-radius-top-right: 0px; --awb-border-radius-bottom-right: 0px; --awb-border-radius-bottom-left: 0px; --awb-padding-top: 100px; --awb-padding-bottom: 90px; --awb-background-color: #03457f; --awb-background-image: url(&quot;assets/images/project4-call-to-action.jpg&quot;); --awb-background-size: cover; --awb-flex-wrap: wrap; position: relative; overflow: hidden; z-index: 1; background-image: none;">
    <div class="parallax-inner"
        style="pointer-events: none; width: 1903px; height: 726.667px; position: absolute; z-index: -1; top: -286.5px; left: 0px; opacity: 1; background-position: center bottom; background-repeat: no-repeat; background-size: cover; background-image: url(&quot;assets/images/project4-call-to-action.jpg&quot;); background-color: rgb(63, 63, 63); min-height: 150px; transform: translate3d(0px, 26.3535px, 0px);">
    </div>
    <div class="fusion-builder-row fusion-row" style="background-color: rgba(0, 0, 0, 0.358); padding: 15px;">
        <div class="fusion-layout-column fusion_builder_column fusion-builder-column-9 fusion_builder_column_2_3 2_3 fusion-two-third fusion-column-first"
            style="--awb-bg-blend:overlay;--awb-bg-size:cover;--awb-margin-bottom:25px;width:66.666666666667%;width:calc(66.666666666667% - ( ( 50px ) * 0.66666666666667 ) );margin-right: 50px;">
            <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy"
                style="min-height: 225.167px; height: auto;">
                <div class="fusion-column-content-centered" style="min-height: 225.167px; height: auto;">
                    <div class="fusion-column-content">
                        <div class="fusion-text fusion-text-6">
                            <h1 style="font-weight: 300; --fontSize: 34; line-height: 1.4;" data-fontsize="34"
                                data-lineheight="47.6px" class="fusion-responsive-typography-calculated"><span
                                    style="color: #ffffff;">Nos experts sont à l’écoute de vos besoins</span></h1>
                        </div>
                        <div class="fusion-sep-clear"></div>
                        <div class="fusion-separator fusion-clearfix"
                            style="float:left;margin-top:0px;margin-bottom:30px;width:100%;max-width:206px;">
                            <div class="fusion-separator-border sep-single sep-solid"
                                style="--awb-height:20px;--awb-amount:20px;--awb-sep-color:#378bb0;border-color:#378bb0;border-top-width:2px;">
                            </div>
                        </div>
                        <div class="fusion-sep-clear"></div>
                        <div class="fusion-text fusion-text-7">
                            <h3 style="--fontSize: 20; line-height: 1.45;" data-fontsize="20" data-lineheight="29px"
                                class="fusion-responsive-typography-calculated"><span style="color: #ffffff;">Remplissez
                                    ce questionnaire afin que
                                    l’on puisse vous donner des conseils justes et précis</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="fusion-clearfix"></div>
            </div>
        </div>
        <div class="fusion-layout-column fusion_builder_column fusion-builder-column-10 fusion_builder_column_1_3 1_3 fusion-one-third fusion-column-last"
            style="--awb-bg-blend:overlay;--awb-bg-size:cover;width:33.333333333333%;width:calc(33.333333333333% - ( ( 50px ) * 0.33333333333333 ) );">
            <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy"
                style="min-height: 225.167px; height: auto;">
                <div class="fusion-column-content-centered" style="min-height: 225.167px; height: auto;">
                    <div class="fusion-column-content">
                        <div class="fusion-button-wrapper"><a
                                class="fusion-button button-flat fusion-button-default-size button-default fusion-button-default button-7 fusion-button-default-span fusion-button-default-type"
                                target="_self" routerLink="/demande-service"><span class="fusion-button-text">DEMANDE DE
                                    SERVICE</span></a></div>
                        <div class="fusion-sep-clear"></div>
                        <div class="fusion-separator fusion-full-width-sep"
                            style="margin-left: auto;margin-right: auto;margin-top:10px;width:100%;">
                        </div>
                    </div>
                </div>
                <div class="fusion-clearfix"></div>
            </div>
        </div>
    </div>
</div>