<h1>Détail</h1>

<div class="row">
    <div class="col-md-12">
        <div class="card" *ngIf="page">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4"><img [src]="getImageUrl(page.image)" class="img-thumbnail" alt="{{ page.title }} Image"></div>
                    <div class="col-md-8">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>Titre</th>
                                    <th>{{page.title}}</th>
                                </tr>
                                <tr>
                                    <th>Titre de la bannière</th>
                                    <th>{{page.bannerTitle}}</th>
                                </tr>
                                <tr>
                                    <th>Description de la bannière</th>
                                    <th>{{page.bannerDescription}}</th>
                                </tr>
                                <tr>
                                    <th>Contenu</th>
                                    <th>
                                        {{page.content}}
                                    </th>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-info" (click)="goBack()">Retour à la liste</button>
                <button class="btn btn-outline-primary" (click)="goToEditPage(page.id)">Editer</button>
                <button class="btn btn-outline-danger" (click)="goToDeletePage(page.id)">Supprimer</button>
            </div>
        </div>
    </div>
</div>