<div id="sliders-container" class="fusion-slider-visibility">
  <div id="fusion-slider-53" data-id="53" class="fusion-slider-container fusion-slider-15 full-width-slider-container"
    style="height: 450px; max-width: 100%; max-height: 450px;">
    <style type="text/css">
      #fusion-slider-53 .flex-direction-nav a {
        width: 63px;
        height: 63px;
        line-height: 63px;
        font-size: 25px;
      }
    </style>

    <div class="tfs-slider flexslider main-flex full-width-slider"
      style="max-width: 100%; --typography_sensitivity: 1.0; height: 450px;" data-slider_width="100%"
      data-slider_height="450px" data-full_screen="0" data-parallax="0" data-nav_arrows="0" data-pagination_circles="0"
      data-autoplay="0" data-loop="0" data-animation="fade" data-slideshow_speed="7000" data-animation_speed="600"
      data-typo_sensitivity="1.0" data-typo_factor="1.5" data-nav_box_width="63px" data-nav_box_height="63px"
      data-nav_arrow_size="25px" data-slider_content_width="" data-slider_indicator=""
      data-slider_indicator_color="#ffffff" data-orderby="date" data-order="DESC">
      <ul class="slides" style="max-width:100%;">
        <li class="slide-id-1083 flex-active-slide" data-mute="yes" data-loop="yes" data-autoplay="yes"
          style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
          <div class="slide-content-container slide-content-center">
            <div class="slide-content" style="margin-top: 0px; opacity: 1;">
              <div class="heading ">
                <div class="fusion-title-sc-wrapper">
                  <div
                    class="fusion-title title fusion-title-1 fusion-sep-none fusion-title-center fusion-title-text fusion-title-size-two"
                    style="--awb-text-color:#ffffff;--awb-margin-bottom:0px;--awb-sep-color:#ffffff;--awb-font-size:60px;">
                    <h2 class="fusion-title-heading title-heading-center fusion-responsive-typography-calculated"
                      style="margin:0;font-size:1em;--fontSize:60;line-height:1.33;">
                      <strong>DEMANDE DE SERVICE</strong>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="caption ">
                <div class="fusion-title-sc-wrapper">
                  <div
                    class="fusion-title title fusion-title-2 fusion-sep-none fusion-title-center fusion-title-text fusion-title-size-three"
                    style="--awb-text-color:#ffffff;--awb-margin-bottom:0px;--awb-sep-color:#ffffff;--awb-font-size:24px;">
                    <h3 class="fusion-title-heading title-heading-center fusion-responsive-typography-calculated"
                      style="margin:0;font-size:1em;--fontSize:24;line-height:1.58;">Nos experts
                      en technologie sont disponibles pour vous aider au quotidien</h3>
                  </div>
                </div>
              </div>
              <div class="buttons">
              </div>
            </div>
          </div>
          <div class="background background-image"
            style="background-image: url(assets/images/background-nous-joindre.jpg);max-width:100%;height:450px;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/background-nous-joindre.jpg', sizingMethod='scale');"
            data-imgwidth="2000">
            <div class="" style="max-width: 100%; height: 450px; width: 100%; opacity: 1;background-color: #00000040;"
              data-imgwidth="2400">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="post-content">
  <div
    class="fusion-fullwidth fullwidth-box fusion-builder-row-1 hundred-percent-fullwidth non-hundred-percent-height-scrolling fusion-equal-height-columns"
    style="--awb-background-position:left top;--awb-border-sizes-top:0px;--awb-border-sizes-bottom:0px;--awb-border-sizes-left:0px;--awb-border-sizes-right:0px;--awb-border-radius-top-left:0px;--awb-border-radius-top-right:0px;--awb-border-radius-bottom-right:0px;--awb-border-radius-bottom-left:0px;--awb-padding-right:0px;--awb-padding-left:0px;--awb-background-color:#ffffff;--awb-flex-wrap:wrap;">
    <div class="fusion-builder-row fusion-row">
      <div
        class="fusion-layout-column fusion_builder_column fusion-builder-column-0 fusion_builder_column_1_3 1_3 fusion-one-third fusion-column-first fusion-column-no-min-height"
        style="--awb-padding-top:85px;--awb-padding-right:20%;--awb-padding-bottom:85px;--awb-padding-left:20%;--awb-bg-color:#f5f5f5;--awb-bg-color-hover:#f5f5f5;--awb-bg-size:cover;width:33.333333333333%;width:calc(33.333333333333% - ( ( 4% ) * 0.33333333333333 ) );margin-right: 4%;">
        <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy"
          style="min-height: 434.95px; height: auto;">
          <div class="fusion-column-content-centered" style="min-height: 434.95px; height: auto;">
            <div class="fusion-column-content">
              <div class="fusion-text fusion-text-1">
                <h5 style="font-size: 15px; letter-spacing: 1px; --fontSize: 15; line-height: 1.4; --minFontSize: 15;"
                  data-fontsize="15" data-lineheight="21px" class="fusion-responsive-typography-calculated">
                  <strong>BAMAKO</strong>
                </h5>
              </div>
              <div class="fusion-sep-clear"></div>
              <div class="fusion-separator fusion-clearfix"
                style="float:left;margin-bottom:30px;width:100%;max-width:24px;">
                <div class="fusion-separator-border sep-single sep-solid"
                  style="--awb-height:20px;--awb-amount:20px;--awb-sep-color:#378bb0;border-color:#378bb0;border-top-width:2px;">
                </div>
              </div>
              <div class="fusion-sep-clear"></div>
              <ul
                style="--awb-iconcolor:#717171;--awb-line-height:23.8px;--awb-icon-width:23.8px;--awb-icon-height:23.8px;--awb-icon-margin:9.8px;--awb-content-margin:33.6px;"
                class="fusion-checklist fusion-checklist-1 fusion-checklist-default type-icons">
                <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                      class="fusion-li-icon bi bi-house-fill" aria-hidden="true"></i></span>
                  <div class="fusion-li-item-content">
                    <p>Rue : <span style="font-family: Arial, Helvetica, sans-serif;">822</span>; Porte : <span
                        style="font-family: Arial, Helvetica, sans-serif;">016</span> à Baco Djicoroni ACI,<br>
                      Bamako</p>
                  </div>
                </li>
                <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                      class="fusion-li-icon bi bi-telephone-fill" aria-hidden="true"></i></span>
                  <div class="fusion-li-item-content"><a class="" href="tel:+22344906148"><span
                        style="font-family: Arial, Helvetica, sans-serif;">(+223) 44 90 61 48</span> </a></div>
                </li>
                <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                      class="fusion-li-icon bi bi-clock-fill" aria-hidden="true"></i></span>
                  <div class="fusion-li-item-content">
                    <p>Lun – Ven . <span style="font-family: Arial, Helvetica, sans-serif;">9h00 – 17h00</span></p>
                  </div>
                </li>
              </ul>
              <div class="fusion-sep-clear"></div>
              <div class="fusion-separator fusion-full-width-sep"
                style="margin-left: auto;margin-right: auto;margin-top:20px;width:100%;">
              </div>
              <div class="fusion-sep-clear"></div>
            </div>
          </div>
          <div class="fusion-clearfix"></div>
        </div>
      </div>
      <div
        class="fusion-layout-column fusion_builder_column fusion-builder-column-1 fusion_builder_column_2_3 2_3 fusion-two-third fusion-column-last fusion-column-no-min-height"
        style="--awb-padding-top:85px;--awb-padding-right:12%;--awb-padding-bottom:85px;--awb-padding-left:12%;--awb-bg-size:cover;width:66.666666666667%;width:calc(66.666666666667% - ( ( 4% ) * 0.66666666666667 ) );">
        <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy"
          style="min-height: 434.95px; height: auto;">
          <div class="fusion-column-content-centered" style="min-height: 434.95px; height: auto;">
            <div class="fusion-column-content">
              <div class="fusion-text fusion-text-4">
                <h2 style="text-align: center; --fontSize: 26; line-height: 1.31;" data-fontsize="26"
                  data-lineheight="34.0667px" class="fusion-responsive-typography-calculated">Faites une demande,
                  nous sommes là pour vous aider</h2>
              </div>
              <div class="fusion-sep-clear"></div>
              <div class="fusion-separator"
                style="margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:206px;">
                <div class="fusion-separator-border sep-single sep-solid"
                  style="--awb-height:20px;--awb-amount:20px;--awb-sep-color:#378bb0;border-color:#378bb0;border-top-width:2px;">
                </div>
              </div>
              <div class="fusion-sep-clear"></div>
              <div class="fusion-text fusion-text-5">
                <p style="text-align: center;">Remplissez
                  le formulaire ci-dessous et nous vous contacterons pour finaliser
                  les
                  détails de votre demande et vous fournir une estimation de prix.</p>
              </div>
              <div class="fusion-sep-clear"></div>
              <div class="fusion-menu-anchor" id="form"></div>
              <form>
                <h4>Prénom & Nom</h4>
                <div class="row g-3">
                  <div class="col-12 col-md-4">
                    <label for="civility" class="form-label">Civilité<span class="text-danger">*</span></label>
                    <select class="form-select" id="civility" name="civility" required
                      [(ngModel)]="bimServicePublicToEdit['civility']">
                      <option value="M.">M.</option>
                      <option value="Mme.">Mme.</option>
                      <option value="Autre">Autre</option>
                    </select>
                  </div>
                  <div class="col-12 col-md-4">
                    <label for="tiersFirstname" class="form-label">Prénom<span class="text-danger">*</span></label>
                    <input type="text" class="form-control input-sm" id="tiersFirstname" name="tiersFirstname" required
                      [(ngModel)]="bimServicePublicToEdit['tiersFirstname']">
                    <div class="invalid-feedback" *ngIf="invalid.tiersFirstname">Champ obligatoire.</div>
                  </div>
                  <div class="col-12 col-md-4">
                    <label for="tiersLastname" class="form-label">Nom<span class="text-danger">*</span></label>
                    <input type="text" class="form-control input-sm" id="tiersLastname" name="tiersLastname" required
                      [(ngModel)]="bimServicePublicToEdit['tiersLastname']">
                    <div class="invalid-feedback" *ngIf="invalid.tiersLastname">Champ obligatoire.</div>
                  </div>
                </div>

                <h4 for="email">Courriel<span class="text-danger">*</span></h4>
                <input type="email" class="form-control input-sm" id="email" name="email" required
                  [(ngModel)]="bimServicePublicToEdit['email']">
                <div class="invalid-feedback" *ngIf="invalid.email">Champ obligatoire.</div>

                <h4>Téléphone</h4>
                <div class="row g-3">
                  <div class="col-12 col-md-6">
                    <label for="phoneNumberMain" class="form-label">Téléphone principal</label>
                    <input type="tel" class="form-control input-sm" id="phoneNumberMain" name="phoneNumberMain"
                      [(ngModel)]="bimServicePublicToEdit['phoneNumberMain']">
                  </div>
                  <div class="col-12 col-md-6">
                    <label for="phoneNumberOther" class="form-label">Téléphone cellulaire</label>
                    <input type="tel" class="form-control input-sm" id="phoneNumberOther" name="phoneNumberOther"
                      [(ngModel)]="bimServicePublicToEdit['phoneNumberOther']">
                  </div>
                </div>

                <h2 class="my-4 fw-bolder display-3">Localisation géographique</h2>

                <h4>Client</h4>
                <div class="row g-3">
                  <div class="col-12 col-md-4">
                    <label for="tiersAddress" class="form-label">Adresse du client<span
                        class="text-danger">*</span></label>
                    <input type="text" class="form-control input-sm" id="tiersAddress" name="tiersAddress" required
                      [(ngModel)]="bimServicePublicToEdit['tiersAddress']">
                    <div class="invalid-feedback" *ngIf="invalid.tiersAddress">Champ obligatoire.</div>
                  </div>
                  <div class="col-12 col-md-4">
                    <label for="sysGeoRegionTiers" class="form-label">Région du client<span
                        class="text-danger">*</span></label>

                    <select class="form-select" id="sysGeoRegionTiers" name="sysGeoRegionTiers" required
                      [(ngModel)]="bimServicePublicToEdit['sysGeoRegionTiers']">
                      <option value="" disabled>Choisissez une région</option>
                      <option *ngFor="let region of regions" [ngValue]="region">{{ region.name }}</option>
                    </select>
                    <div class="invalid-feedback" *ngIf="invalid.sysGeoRegionTiers">Champ obligatoire.</div>
                  </div>
                  <div class="col-12 col-md-4">
                    <label for="tiersAddressZipcode" class="form-label">Code postal du client</label>
                    <input type="text" class="form-control input-sm" id="tiersAddressZipcode" name="tiersAddressZipcode"
                      required [(ngModel)]="bimServicePublicToEdit['tiersAddressZipcode']">
                    <div class="invalid-feedback" *ngIf="invalid.tiersAddressZipcode">Champ obligatoire.</div>
                  </div>
                </div>

                <h4>Pour quel service désirez-vous une soumission?<span class="text-danger">*</span></h4>
                <select class="form-select" id="sysBusinessCatalogItemsSelectedId"
                  name="sysBusinessCatalogItemsSelectedId" required [(ngModel)]="sysBusinessCatalogItemsSelectedId">
                  <option value="" disabled>Choisissez un service</option>
                  <option *ngFor="let item of sysBusinessCatalogItems; let i = index" [value]="item.id">
                    {{ item.name ? item.name : "" }}
                  </option>
                </select>
                <div class="invalid-feedback" *ngIf="invalid.sysBusinessCatalogItemsSelectedId">Champ obligatoire.</div>

                <!-- <h4>Comment avez-vous entendu parler de nous?</h4>
                <div class="form-check form-switch" *ngFor="let item of sysTiersKnowAboutWays; let id = index">
                  <input class="form-check-input" type="checkbox" role="switch" name="sysTiersKnowAboutWays{{id}}"
                    id="sysTiersKnowAboutWays{{id}}" [(ngModel)]="item.checked">
                  <label class="form-check-label" for="sysTiersKnowAboutWays{{id}}">
                    {{ item.name ? item.name : "" }}
                  </label>
                </div> -->

                <h4>Message</h4>
                <textarea class="form-control" cols="33" id="notes" name="notes"
                  [(ngModel)]="bimServicePublicToEdit.notes"></textarea>

                <button type="submit" class="btn btn-primary mt-3" (click)="process()" *ngIf="!loadingProcess">
                  Envoyer
                </button>
                <button class="btn btn-primary mt-3" *ngIf="loadingProcess" disabled>
                  <span class="spinner-grow spinner-grow-sm"></span>
                  Chargement..
                </button>
                <div class="alert alert-success alert-dismissible mt-3" *ngIf="successMessage">
                  Le message a été envoyé avec <strong>Succès!</strong>
                </div>
                <div class="alert alert-danger alert-dismissible mt-3" *ngIf="failureMessage">
                  <strong>Échec!</strong> Le message n'a pas pu être envoyé.
                </div>
              </form>


            </div>
          </div>
          <div class="fusion-clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>