<div id="sliders-container" class="fusion-slider-visibility">
    <div id="fusion-slider-53" data-id="53" class="fusion-slider-container fusion-slider-15 full-width-slider-container"
        style="height: 450px; max-width: 100%; max-height: 450px;">
        <style type="text/css">
            #fusion-slider-53 .flex-direction-nav a {
                width: 63px;
                height: 63px;
                line-height: 63px;
                font-size: 25px;
            }
        </style>

        <div class="tfs-slider flexslider main-flex full-width-slider"
            style="max-width: 100%; --typography_sensitivity: 1.0; height: 450px;" data-slider_width="100%"
            data-slider_height="450px" data-full_screen="0" data-parallax="0" data-nav_arrows="0"
            data-pagination_circles="0" data-autoplay="0" data-loop="0" data-animation="fade"
            data-slideshow_speed="7000" data-animation_speed="600" data-typo_sensitivity="1.0" data-typo_factor="1.5"
            data-nav_box_width="63px" data-nav_box_height="63px" data-nav_arrow_size="25px" data-slider_content_width=""
            data-slider_indicator="" data-slider_indicator_color="#ffffff" data-orderby="date" data-order="DESC">
            <ul class="slides" style="max-width:100%;">
                <li class="slide-id-1083 flex-active-slide" data-mute="yes" data-loop="yes" data-autoplay="yes"
                    style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                    <div class="slide-content-container slide-content-center">
                        <div class="slide-content" style="margin-top: 0px; opacity: 1;">
                            <div class="heading ">
                                <div class="fusion-title-sc-wrapper">
                                    <div class="fusion-title title fusion-title-1 fusion-sep-none fusion-title-center fusion-title-text fusion-title-size-two"
                                        style="--awb-text-color:#ffffff;--awb-margin-bottom:0px;--awb-sep-color:#ffffff;--awb-font-size:60px;">
                                        <h2 class="fusion-title-heading title-heading-center fusion-responsive-typography-calculated"
                                            style="margin:0;font-size:1em;--fontSize:60;line-height:1.33;">
                                            <strong>DEMANDE DE SERVICE</strong>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="caption ">
                                <div class="fusion-title-sc-wrapper">
                                    <div class="fusion-title title fusion-title-2 fusion-sep-none fusion-title-center fusion-title-text fusion-title-size-three"
                                        style="--awb-text-color:#ffffff;--awb-margin-bottom:0px;--awb-sep-color:#ffffff;--awb-font-size:24px;">
                                        <h3 class="fusion-title-heading title-heading-center fusion-responsive-typography-calculated"
                                            style="margin:0;font-size:1em;--fontSize:24;line-height:1.58;">Nos experts
                                            en bâtiment sont disponibles pour vous aider au quotidien</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons">
                            </div>
                        </div>
                    </div>
                    <div class="background background-image"
                        style="background-image: url(assets/images/slider-soumission.jpg);max-width:100%;height:450px;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/slider-soumission.jpg', sizingMethod='scale');"
                        data-imgwidth="2000">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>




<main id="main" class="clearfix width-100">
    <div class="fusion-row" style="max-width:100%;">
        <section id="content" class="full-width">
            <div id="post-15" class="post-15 page type-page status-publish hentry">
                <span class="entry-title rich-snippet-hidden">Demande de service</span><span
                    class="vcard rich-snippet-hidden"><span class="fn"><a href="#/author/webmestre/"
                            title="Articles par webmestre" rel="author">webmestre</a></span></span><span
                    class="updated rich-snippet-hidden">2023-08-23T09:49:38-04:00</span>
                <div class="post-content">
                    <div class="fusion-fullwidth fullwidth-box fusion-builder-row-1 hundred-percent-fullwidth non-hundred-percent-height-scrolling fusion-equal-height-columns"
                        style="--awb-background-position:left top;--awb-border-sizes-top:0px;--awb-border-sizes-bottom:0px;--awb-border-sizes-left:0px;--awb-border-sizes-right:0px;--awb-border-radius-top-left:0px;--awb-border-radius-top-right:0px;--awb-border-radius-bottom-right:0px;--awb-border-radius-bottom-left:0px;--awb-padding-right:0px;--awb-padding-left:0px;--awb-background-color:#ffffff;--awb-flex-wrap:wrap;">
                        <div class="fusion-builder-row fusion-row">
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-0 fusion_builder_column_1_3 1_3 fusion-one-third fusion-column-first fusion-column-no-min-height"
                                style="--awb-padding-top:85px;--awb-padding-right:20%;--awb-padding-bottom:85px;--awb-padding-left:20%;--awb-bg-color:#f5f5f5;--awb-bg-color-hover:#f5f5f5;--awb-bg-size:cover;width:33.333333333333%;width:calc(33.333333333333% - ( ( 4% ) * 0.33333333333333 ) );margin-right: 4%;">
                                <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy"
                                    style="min-height: 434.95px; height: auto;">
                                    <div class="fusion-column-content-centered"
                                        style="min-height: 434.95px; height: auto;">
                                        <div class="fusion-column-content">
                                            <div class="fusion-text fusion-text-1">
                                                <h5 style="font-size: 15px; letter-spacing: 1px; --fontSize: 15; line-height: 1.4; --minFontSize: 15;"
                                                    data-fontsize="15" data-lineheight="21px"
                                                    class="fusion-responsive-typography-calculated">
                                                    <strong>QUÉBEC</strong>
                                                </h5>
                                            </div>
                                            <div class="fusion-sep-clear"></div>
                                            <div class="fusion-separator fusion-clearfix"
                                                style="float:left;margin-bottom:30px;width:100%;max-width:24px;">
                                                <div class="fusion-separator-border sep-single sep-solid"
                                                    style="--awb-height:20px;--awb-amount:20px;--awb-sep-color:#378bb0;border-color:#378bb0;border-top-width:2px;">
                                                </div>
                                            </div>
                                            <div class="fusion-sep-clear"></div>
                                            <ul style="--awb-iconcolor:#717171;--awb-line-height:23.8px;--awb-icon-width:23.8px;--awb-icon-height:23.8px;--awb-icon-margin:9.8px;--awb-content-margin:33.6px;"
                                                class="fusion-checklist fusion-checklist-1 fusion-checklist-default type-icons">
                                                <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                                            class="fusion-li-icon bi bi-house-fill"
                                                            aria-hidden="true"></i></span>
                                                    <div class="fusion-li-item-content">
                                                        <p>1720 Boul. Père-Lelièvre local 100,<br>
                                                            Québec, Qc G1M 3J6</p>
                                                    </div>
                                                </li>
                                                <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                                            class="fusion-li-icon bi bi-telephone-fill"
                                                            aria-hidden="true"></i></span>
                                                    <div class="fusion-li-item-content"><a class=""
                                                            href="tel:4186227353">(418) 622-7353 </a></div>
                                                </li>
                                                <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                                            class="fusion-li-icon bi bi-clock-fill"
                                                            aria-hidden="true"></i></span>
                                                    <div class="fusion-li-item-content">
                                                        <p>Lun – Ven . 8h30 – 16h30</p>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="fusion-sep-clear"></div>
                                            <div class="fusion-separator fusion-full-width-sep"
                                                style="margin-left: auto;margin-right: auto;margin-top:20px;width:100%;">
                                            </div>
                                            <div class="fusion-sep-clear"></div>
                                            <div class="fusion-text fusion-text-2 display-none">
                                                <h5 style="font-size: 15px; letter-spacing: 1px; --fontSize: 15; line-height: 1.4; --minFontSize: 15;"
                                                    data-fontsize="15" data-lineheight="21px"
                                                    class="fusion-responsive-typography-calculated">
                                                    <strong>LÉVIS</strong>
                                                </h5>
                                            </div>
                                            <ul style="--awb-iconcolor:#717171;--awb-line-height:23.8px;--awb-icon-width:23.8px;--awb-icon-height:23.8px;--awb-icon-margin:9.8px;--awb-content-margin:33.6px;"
                                                class="fusion-checklist fusion-checklist-2 fusion-checklist-default type-icons display-none">
                                                <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                                            class="fusion-li-icon bi bi-house-fill"
                                                            aria-hidden="true"></i></span>
                                                    <div class="fusion-li-item-content">
                                                        <p>8093 rue du Sirocco, local 120<br>
                                                            Lévis, QC G6X 1H6</p>
                                                    </div>
                                                </li>
                                                <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                                            class="fusion-li-icon bi bi-telephone-fill"
                                                            aria-hidden="true"></i></span>
                                                    <div class="fusion-li-item-content"><a class=""
                                                            href="tel:4186227196">(418) 622-7196 </a></div>
                                                </li>
                                                <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                                            class="fusion-li-icon bi bi-clock-fill"
                                                            aria-hidden="true"></i></span>
                                                    <div class="fusion-li-item-content">Lun – Ven . 8h30 – 16h30</div>
                                                </li>
                                            </ul>
                                            <div class="fusion-sep-clear"></div>
                                            <div class="fusion-separator fusion-full-width-sep"
                                                style="margin-left: auto;margin-right: auto;margin-top:20px;width:100%;">
                                            </div>
                                            <div class="fusion-sep-clear"></div>
                                            <div class="fusion-sep-clear"></div>
                                            <div class="fusion-separator fusion-clearfix"
                                                style="float:left;margin-bottom:30px;width:100%;max-width:24px;">
                                                <div class="fusion-separator-border sep-single sep-solid"
                                                    style="--awb-height:20px;--awb-amount:20px;--awb-sep-color:#378bb0;border-color:#378bb0;border-top-width:2px;">
                                                </div>
                                            </div>
                                            <div class="fusion-sep-clear"></div>
                                            <div class="fusion-text fusion-text-3">
                                                <p>Pour
                                                    rejoindre le département d’estimation fait le 1. Pour la
                                                    comptabilité
                                                    faite le 2 et pour toutes autres questions faite le 3.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-1 fusion_builder_column_2_3 2_3 fusion-two-third fusion-column-last fusion-column-no-min-height"
                                style="--awb-padding-top:85px;--awb-padding-right:12%;--awb-padding-bottom:85px;--awb-padding-left:12%;--awb-bg-size:cover;width:66.666666666667%;width:calc(66.666666666667% - ( ( 4% ) * 0.66666666666667 ) );">
                                <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy"
                                    style="min-height: 434.95px; height: auto;">
                                    <div class="fusion-column-content-centered"
                                        style="min-height: 434.95px; height: auto;">
                                        <div class="fusion-column-content">
                                            <div class="fusion-text fusion-text-4">
                                                <h2 style="text-align: center; --fontSize: 26; line-height: 1.31;"
                                                    data-fontsize="26" data-lineheight="34.0667px"
                                                    class="fusion-responsive-typography-calculated">Faites une demande,
                                                    nous sommes là pour vous aider</h2>
                                            </div>
                                            <div class="fusion-sep-clear"></div>
                                            <div class="fusion-separator"
                                                style="margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:206px;">
                                                <div class="fusion-separator-border sep-single sep-solid"
                                                    style="--awb-height:20px;--awb-amount:20px;--awb-sep-color:#378bb0;border-color:#378bb0;border-top-width:2px;">
                                                </div>
                                            </div>
                                            <div class="fusion-sep-clear"></div>
                                            <div class="fusion-text fusion-text-5">
                                                <p style="text-align: center;">Remplissez
                                                    le formulaire ci-dessous et nous vous contacterons pour finaliser
                                                    les
                                                    détails de votre demande et vous fournir une estimation de prix.</p>
                                            </div>
                                            <div class="fusion-sep-clear"></div>
                                            <div class="fusion-separator fusion-full-width-sep"
                                                style="margin-left: auto;margin-right: auto;margin-top:40px;width:100%;">
                                            </div>
                                            <div class="fusion-sep-clear"></div>
                                            <div class="fusion-menu-anchor" id="form"></div>
                                            <div class="gf_browser_gecko gform_wrapper gform_legacy_markup_wrapper gform-theme--no-framework"
                                                data-form-theme="legacy" data-form-index="0" id="gform_wrapper_1">
                                                <div id="gf_1" class="gform_anchor" tabindex="-1"></div>
                                                <form class="col-xl contact-form-container"
                                                    style="background-color: transparent;">
                                                    <div class="border mx-auto" style="width: 600px;">
                                                        <div class="field">
                                                            <label class="humano-text-typo-h4 my-auto"
                                                                style="background-color: #eaf2fa; width: 100%; color: black; font-weight: bold; padding: 3pt; height: 53px; text-transform: uppercase;">
                                                                Nom
                                                            </label>
                                                            <div class="humano-text-typo-h4 humano-text-color-noirclair content form-floating has-validation"
                                                                style="padding-left: 0px;">
                                                                <div class="field-p-field p-1"><input type="text"
                                                                        placeholder="..."
                                                                        class="w-100 border-0 ng-untouched ng-pristine ng-valid">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <label class="humano-text-typo-h4 my-auto"
                                                                style="background-color: #eaf2fa; width: 100%; color: black; font-weight: bold; padding: 3pt; height: 53px; text-transform: uppercase;">
                                                                Courriel
                                                            </label>
                                                            <div class="humano-text-typo-h4 humano-text-color-noirclair content has-validation"
                                                                style="padding-left: 0px;">
                                                                <div class="field-p-field p-1"><input type="email"
                                                                        placeholder="..."
                                                                        class="w-100 border-0 ng-untouched ng-pristine ng-valid">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <label class="humano-text-typo-h4 my-auto"
                                                                style="background-color: #eaf2fa; width: 100%; color: black; font-weight: bold; padding: 3pt; height: 53px; text-transform: uppercase;">
                                                                Téléphone principal
                                                            </label>
                                                            <div class="humano-text-typo-h4 humano-text-color-noirclair content has-validation"
                                                                style="padding-left: 0px;">
                                                                <div class="field-p-field p-1"><input type="text"
                                                                        placeholder="..."
                                                                        class="w-100 border-0 ng-untouched ng-pristine ng-valid">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <label class="humano-text-typo-h4 my-auto"
                                                                style="background-color: #eaf2fa; width: 100%; color: black; font-weight: bold; padding: 3pt; height: 53px; text-transform: uppercase;">
                                                                Téléphone cellulaire
                                                            </label>
                                                            <div class="humano-text-typo-h4 humano-text-color-noirclair content has-validation"
                                                                style="padding-left: 0px;">
                                                                <div class="field-p-field p-1"><input type="text"
                                                                        placeholder="..."
                                                                        class="w-100 border-0 ng-untouched ng-pristine ng-valid">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <label class="humano-text-typo-h4 my-auto"
                                                                style="background-color: #eaf2fa; width: 100%; color: black; font-weight: bold; padding: 3pt; height: 53px; text-transform: uppercase;">
                                                                ADRESSE DU CLIENT
                                                            </label>
                                                            <div class="humano-text-typo-h4 humano-text-color-noirclair content has-validation"
                                                                style="padding-left: 0px;">
                                                                <div class="field-p-field p-1"><textarea
                                                                        placeholder="..."
                                                                        class="w-100 border-0 ng-untouched ng-pristine ng-valid"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <label class="humano-text-typo-h4 my-auto"
                                                                style="background-color: #eaf2fa; width: 100%; color: black; font-weight: bold; padding: 3pt; height: 53px; text-transform: uppercase;">
                                                                ADRESSE DU BÂTIMENT À INSPECTER
                                                            </label>
                                                            <div class="humano-text-typo-h4 humano-text-color-noirclair content has-validation"
                                                                style="padding-left: 0px;">
                                                                <div class="field-p-field p-1"><textarea
                                                                        placeholder="..."
                                                                        class="w-100 border-0 ng-untouched ng-pristine ng-valid"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <label class="humano-text-typo-h4 my-auto"
                                                                style="background-color: #eaf2fa; width: 100%; color: black; font-weight: bold; padding: 3pt; height: 53px; text-transform: uppercase;">
                                                                LE SERVICE QUE VOUS DÉSIREZ UNE SOUMISSION?
                                                            </label>
                                                            <div class="humano-text-typo-h4 humano-text-color-noirclair content"
                                                                style="padding-left: 0px;">
                                                                <div class="field-p-field has-validation"><select
                                                                        placeholder=" "
                                                                        class="form-select border-0 ng-pristine ng-valid ng-touched">
                                                                        <option value="1254"> Expertise structure
                                                                        </option>
                                                                        <option value="3334"> Estimation </option>
                                                                        <option
                                                                            value="98424e31-0510-4426-bcaa-ab3cadd83a90">
                                                                            Inspection des fondations </option>
                                                                        <option value="aa-dronetb2"> Drone TB2 </option>
                                                                        <option value="analyse_efficacite_energetique">
                                                                            Analyse efficacité énergétique </option>
                                                                        <option value="analyse_qualite_de_l_air">
                                                                            Qualité de l'air </option>
                                                                        <option value="avancement"> Inspection
                                                                            avancement des travaux </option>
                                                                        <option value="ebax-infiltrometrie">
                                                                            Infiltrometrie </option>
                                                                        <option value="expertise_legale"> Expertise
                                                                            légale </option>
                                                                        <option value="infiltro"> Infiltrométrie
                                                                        </option>
                                                                        <option value="j-star-B310-s"> J-Star B310
                                                                        </option>
                                                                        <option value="kkkkkooo"> Inspection
                                                                            préréception </option>
                                                                        <option value="rapport_d_etat_d_immeuble">
                                                                            Rapport d'état d'immeuble </option>
                                                                        <option value="resolution_de_probleme">
                                                                            Résolution de problème </option>
                                                                        <option value="simulation"> Simulation
                                                                            énergétique </option>
                                                                        <option value="thermo"> Thermographie </option>
                                                                        <option value="VRC"> Vérification VRC </option>
                                                                        <!---->
                                                                    </select>
                                                                    <!---->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <label class="humano-text-typo-h4 my-auto"
                                                                style="background-color: #eaf2fa; width: 100%; color: black; font-weight: bold; padding: 3pt; height: 53px; text-transform: uppercase;">
                                                                VOUS AVEZ ENTENDU PARLER DE NOUS PAR :
                                                            </label>
                                                            <div class="humano-text-typo-h4 humano-text-color-noirclair content"
                                                                style="padding-left: 0px;">
                                                                <div class="field-p-field has-validation">
                                                                    <div><input type="checkbox"
                                                                            class="ng-untouched ng-pristine ng-valid">
                                                                        &nbsp; Google </div>
                                                                    <div><input type="checkbox"
                                                                            class="ng-untouched ng-pristine ng-valid">
                                                                        &nbsp; Autres </div>
                                                                    <div><input type="checkbox"
                                                                            class="ng-untouched ng-pristine ng-valid">
                                                                        &nbsp; Réseaux sociaux </div>
                                                                    <!----><!---->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <label class="humano-text-typo-h4 my-auto"
                                                                style="background-color: #eaf2fa; width: 100%; color: black; font-weight: bold; padding: 3pt; height: 53px; text-transform: uppercase;">
                                                                MESSAGE
                                                            </label>
                                                            <div class="humano-text-typo-h4 humano-text-color-noirclair content has-validation"
                                                                style="padding-left: 0px;">
                                                                <div class="field-p-field p-1"><textarea
                                                                        placeholder="..."
                                                                        class="w-100 border-0 ng-untouched ng-pristine ng-valid"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm text-center mt-3">
                                                            <button
                                                                class="btn btn-outline-dark btn-lg shadow-lg humano-btn-rect humano-text-typo-h4 humano-text-color-noir humano-border-radius-5 humano-text-align-center humano-display-inline-block">
                                                                Envoyer
                                                                <!----></button>
                                                        </div>
                                                    </div>
                                                </form>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div> <!-- fusion-row -->
</main> <!-- #main -->