<div id="sliders-container" class="fusion-slider-visibility">
    <div id="fusion-slider-48" data-id="48" class="fusion-slider-container fusion-slider-1208"
        style="height: 805px; max-width: 100%; max-height: 805px;">
        <style type="text/css">
            #fusion-slider-48 .flex-direction-nav a {
                width: 63px;
                height: 63px;
                line-height: 63px;
                font-size: 25px;
            }

            #fusion-slider-48 .flex-control-paging li a {
                background: rgba(255, 255, 255, 0.6);
            }

            #fusion-slider-48 .flex-control-paging li a.flex-active {
                background: rgba(255, 255, 255, 1);
            }
        </style>

        <div class="tfs-slider flexslider main-flex"
            style="max-width: 100%; --typography_sensitivity: 1.0; height: 805px;" data-slider_width="100%"
            data-slider_height="500px" data-full_screen="1" data-parallax="0" data-nav_arrows="0"
            data-pagination_circles="0" data-autoplay="0" data-loop="0" data-animation="fade"
            data-slideshow_speed="7000" data-animation_speed="600" data-typo_sensitivity="1.0" data-typo_factor="1.5"
            data-nav_box_width="63px" data-nav_box_height="63px" data-nav_arrow_size="25px" data-orderby="date"
            data-order="DESC" data-slider_content_width="" data-slider_indicator="pagination_circles"
            data-slider_indicator_color="#ffffff">
            <ul class="slides" style="max-width: 100%; width: 100%;">
                <li class="slide-id-23 flex-active-slide" data-mute="yes" data-loop="yes" data-autoplay="yes"
                    style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                    <div class="slide-content-container slide-content-center">
                        <div class="slide-content" style="margin-top: 0px; padding-bottom: 17px;">
                            <div class="heading ">
                                <div class="fusion-title-sc-wrapper">
                                    <div class="fusion-title title fusion-title-1 fusion-sep-none fusion-title-center fusion-title-text fusion-title-size-two"
                                        style="--awb-text-color:#ffffff;--awb-margin-bottom:0px;--awb-sep-color:#ffffff;--awb-font-size:60px;">
                                        <h2 class="fusion-title-heading title-heading-center fusion-responsive-typography-calculated"
                                            style="margin:0;font-size:1em;--fontSize:60;line-height:1.33;">
                                            <strong>Réinventer, Accomplir et Transformer les idées en réalité
                                                digitale.</strong>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons">
                                <div class="tfs-button-1">
                                    <div class="fusion-button-wrapper"><a
                                            class="fusion-button button-flat button-xlarge button-custom fusion-button-default button-1 fusion-button-default-span fusion-button-default-type"
                                            style="--button_accent_color:#fff;--button_accent_hover_color:#fff;--button_border_hover_color:#fff;--button_gradient_top_color:#333;--button_gradient_bottom_color:#333;--button_gradient_top_color_hover:#000;--button_gradient_bottom_color_hover:#000;"
                                            target="_self" routerLink="/services"><span
                                                class="fusion-button-text">DÉCOUVREZ NOS
                                                SERVICES</span></a>
                                    </div>
                                </div>
                                <div class="tfs-button-2">
                                    <div class="fusion-button-wrapper"><a
                                            class="fusion-button button-flat button-xlarge button-custom fusion-button-default button-2 fusion-button-default-span fusion-button-default-type"
                                            style="--button_accent_color:#ffffff;--button_accent_hover_color:#fff;--button_border_hover_color:#fff;--button_gradient_top_color:#378bb0;--button_gradient_bottom_color:#378bb0;--button_gradient_top_color_hover:#333;--button_gradient_bottom_color_hover:#333;"
                                            target="_self" routerLink="/demande-service"><span
                                                class="fusion-button-text">DEMANDE DE SERVICE</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="background background-image"
                        style="background-image: url(&quot;assets/images/background-accueil.jpg&quot;); max-width: 100%; height: 805px; width: 100%;"
                        data-imgwidth="2400">
                        <div class=""
                            style="max-width: 100%; height: 805px; width: 100%; opacity: 1;background-color: #00000040;"
                            data-imgwidth="2400">
                        </div>
                    </div>
                </li>
            </ul>
            <ol class="flex-control-nav flex-control-paging"></ol>
        </div>
    </div>
</div>
<main id="main" class="clearfix width-100">
    <div class="fusion-row" style="max-width:100%;">
        <section id="content" class="full-width">
            <div id="post-1208" class="post-1208 page type-page status-publish hentry">
                <span class="entry-title rich-snippet-hidden">Accueil</span><span
                    class="vcard rich-snippet-hidden"><span class="fn"><a href="#" title="Articles par webmestre"
                            rel="author">webmestre</a></span></span><span
                    class="updated rich-snippet-hidden">2023-08-14T13:29:11-04:00</span>
                <div class="post-content">
                    <div class="fusion-fullwidth fullwidth-box fusion-builder-row-1 has-pattern-background has-mask-background nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"
                        style="--awb-background-position:left top;--awb-border-sizes-top:0px;--awb-border-sizes-bottom:0px;--awb-border-sizes-left:0px;--awb-border-sizes-right:0px;--awb-border-radius-top-left:0px;--awb-border-radius-top-right:0px;--awb-border-radius-bottom-right:0px;--awb-border-radius-bottom-left:0px;--awb-padding-top:50px;--awb-padding-bottom:50px;--awb-background-color:#378bb0;--awb-flex-wrap:wrap;">
                        <div class="fusion-builder-row fusion-row">
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-0 fusion_builder_column_1_1 1_1 fusion-one-full fusion-column-first fusion-column-last"
                                style="--awb-bg-blend:overlay;--awb-bg-size:cover;">
                                <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy">
                                    <div class="fusion-text fusion-text-1">
                                        <h2 style="font-weight: 300; text-align: center; --fontSize: 26; line-height: 1.31;"
                                            data-fontsize="26" data-lineheight="34.0667px"
                                            class="fusion-responsive-typography-calculated"><span
                                                style="color: #ffffff;">Besoin d’une expertise technologique ?</span>
                                        </h2>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fusion-fullwidth fullwidth-box fusion-builder-row-2 nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"
                        style="--awb-background-position:left top;--awb-border-sizes-top:0px;--awb-border-sizes-bottom:0px;--awb-border-sizes-left:0px;--awb-border-sizes-right:0px;--awb-border-radius-top-left:0px;--awb-border-radius-top-right:0px;--awb-border-radius-bottom-right:0px;--awb-border-radius-bottom-left:0px;--awb-padding-top:0px;--awb-padding-bottom:20px;--awb-background-color:#ffffff;--awb-flex-wrap:wrap;">
                        <div class="fusion-builder-row fusion-row">
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-1 fusion_builder_column_1_1 1_1 fusion-one-full fusion-column-first fusion-column-last"
                                style="--awb-bg-blend:overlay;--awb-bg-size:cover;--awb-margin-top:-22px;">
                                <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy">
                                    <div class="fusion-aligncenter"><a
                                            class="fusion-button button-flat fusion-button-default-size button-custom fusion-button-default button-3 fusion-button-default-span fusion-button-default-type"
                                            style="--button_accent_color:#ffffff;--button_border_color:#ffffff;--button_accent_hover_color:#333333;--button_border_hover_color:#333333;--button_border_width-top:2px;--button_border_width-right:2px;--button_border_width-bottom:2px;--button_border_width-left:2px;--button_gradient_top_color:#333333;--button_gradient_bottom_color:#333333;--button_gradient_top_color_hover:#ffffff;--button_gradient_bottom_color_hover:#ffffff;"
                                            target="_self" routerLink="/demande-service"><span
                                                class="fusion-button-text">Demande de service</span></a>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fusion-fullwidth fullwidth-box fusion-builder-row-3 mass-responsive-section nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"
                        style="--awb-background-position:left top;--awb-border-sizes-top:0px;--awb-border-sizes-bottom:0px;--awb-border-sizes-left:0px;--awb-border-sizes-right:0px;--awb-border-radius-top-left:0px;--awb-border-radius-top-right:0px;--awb-border-radius-bottom-right:0px;--awb-border-radius-bottom-left:0px;--awb-padding-top:3%;--awb-padding-bottom:40px;--awb-flex-wrap:wrap;"
                        id="section1">
                        <div class="fusion-builder-row fusion-row">
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-2 fusion_builder_column_1_1 1_1 fusion-one-full fusion-column-first fusion-column-last mass-intro"
                                style="--awb-padding-right:15%;--awb-padding-left:15%;--awb-bg-blend:overlay;--awb-bg-size:cover;--awb-margin-top:42px;--awb-margin-bottom:20px;">
                                <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy">
                                    <div class="fusion-text fusion-text-2">
                                        <h2 style="text-align: center; --fontSize: 26; line-height: 1.31;"
                                            data-fontsize="26" data-lineheight="34.0667px"
                                            class="fusion-responsive-typography-calculated">Expert en solutions
                                            technologiques.</h2>
                                    </div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-separator"
                                        style="margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:206px;">
                                        <div class="fusion-separator-border sep-single sep-solid"
                                            style="--awb-height:20px;--awb-amount:20px;--awb-sep-color:#378bb0;border-color:#378bb0;border-top-width:2px;">
                                        </div>
                                    </div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-text fusion-text-3">
                                        <p style="text-align: center;"><span style="font-weight: 400;">Grâce
                                                à notre expertise et à la compétence de nos employés, notre
                                                savoir-faire et l’impartialité de nos conseils sont reconnus
                                                par notre
                                                clientèle.</span></p>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fusion-fullwidth fullwidth-box fusion-builder-row-4 hundred-percent-fullwidth non-hundred-percent-height-scrolling fusion-equal-height-columns"
                        style="--awb-background-position:right center;--awb-border-sizes-top:0px;--awb-border-sizes-bottom:0px;--awb-border-sizes-left:0px;--awb-border-sizes-right:0px;--awb-border-radius-top-left:0px;--awb-border-radius-top-right:0px;--awb-border-radius-bottom-right:0px;--awb-border-radius-bottom-left:0px;--awb-padding-top:0px;--awb-padding-right:8%;--awb-padding-bottom:80px;--awb-padding-left:8%;--awb-flex-wrap:wrap;">
                        <div class="fusion-builder-row fusion-row">
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-3 fusion_builder_column_1_1 1_1 fusion-one-full fusion-column-first fusion-column-last"
                                style="--awb-bg-blend:overlay;--awb-bg-size:cover;">
                                <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy"
                                    style="min-height: 349.267px; height: auto;">
                                    <div class="fusion-flip-boxes flip-boxes row fusion-columns-3 flip-effect-classic">
                                        <div class="fusion-flip-box-wrapper fusion-column col-lg-4 col-md-4 col-sm-4">
                                            <div class="fusion-flip-box flip-right" tabindex="0">
                                                <div class="flip-box-inner-wrapper" style="min-height: 309.267px;">
                                                    <div class="flip-box-front" style="position: absolute;">
                                                        <div class="flip-box-front-inner">
                                                            <div class="flip-box-grafix flip-box-circle">
                                                                <i aria-hidden="true"
                                                                    class="bi bi-clipboard-check-fill"></i>
                                                            </div>
                                                            <h2 class="flip-box-heading fusion-responsive-typography-calculated"
                                                                style="--fontSize: 26; line-height: 1.31;"
                                                                data-fontsize="26" data-lineheight="34.0667px">Services
                                                            </h2>
                                                            Avec tous les services d'expertise en conception logicielle,
                                                            fourniture de matériels et bien plus encore, [CRA]
                                                            Technologie
                                                            vous
                                                            accompagne dans vos projets informatiques. Nous proposons
                                                            une gamme complète de solutions pour le développement de
                                                            logiciels, et la fourniture de matériels informatiques.
                                                        </div>
                                                    </div>
                                                    <div class="flip-box-back"
                                                        style="--awb-title-back-color: #ffffff; --awb-text-back-color: #ffffff; bottom: 0px;">
                                                        <div class="flip-box-back-inner">
                                                            <h3 class="flip-box-heading-back fusion-responsive-typography-calculated"
                                                                style="--fontSize: 20; line-height: 1.45;"
                                                                data-fontsize="20" data-lineheight="29px">
                                                                Services</h3>Vous faites face à des défis dans le
                                                            domaine de la technologie ? Vous ressentez des besoins
                                                            d'amélioration dans vos logiciels et matériels informatiques
                                                            ? <p></p>
                                                            <!-- <div class="fusion-aligncenter"><a
                                                                    class="fusion-button button-flat fusion-button-default-size button-custom fusion-button-default button-4 fusion-button-default-span fusion-button-default-type"
                                                                    style="--button_accent_color:#ffffff;--button_accent_hover_color:#ffffff;--button_border_hover_color:#ffffff;--button_gradient_top_color:#333;--button_gradient_bottom_color:#333;--button_gradient_top_color_hover:#000;--button_gradient_bottom_color_hover:#000;"
                                                                    target="_self" routerLink="/services"><span
                                                                        class="fusion-button-text">En savoir
                                                                        plus</span></a></div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fusion-flip-box-wrapper fusion-column col-lg-4 col-md-4 col-sm-4">
                                            <div class="fusion-flip-box flip-right" tabindex="0">
                                                <div class="flip-box-inner-wrapper" style="min-height: 309.267px;">
                                                    <div class="flip-box-front" style="position: absolute;">
                                                        <div class="flip-box-front-inner">
                                                            <div class="flip-box-grafix flip-box-circle">
                                                                <i aria-hidden="true" class="bi bi-search"></i>
                                                            </div>
                                                            <h2 class="flip-box-heading fusion-responsive-typography-calculated"
                                                                style="--fontSize: 26; line-height: 1.31;"
                                                                data-fontsize="26" data-lineheight="34.0667px">Analyses
                                                            </h2>Que ce soit au bureau ou dans votre environnement
                                                            personnel, si vous rencontrez des problèmes tels
                                                            que des bugs, des conflits logiciels, il est possible que la
                                                            qualité de votre
                                                            infrastructure technologique ne soit pas optimale.
                                                        </div>
                                                    </div>
                                                    <div class="flip-box-back"
                                                        style="--awb-title-back-color: #ffffff; --awb-text-back-color: #ffffff; bottom: 0px;">
                                                        <div class="flip-box-back-inner">
                                                            <h3 class="flip-box-heading-back fusion-responsive-typography-calculated"
                                                                style="--fontSize: 20; line-height: 1.45;"
                                                                data-fontsize="20" data-lineheight="29px">
                                                                Analyses</h3><span style="font-weight: 400;">Dans la
                                                                plupart des situations, la racine du problème ne peut
                                                                malheureusement pas être identifiée à première vue : une
                                                                analyse approfondie est nécessaire.</span>
                                                            <p></p>
                                                            <!-- <div class="fusion-aligncenter"><a
                                                                    class="fusion-button button-flat fusion-button-default-size button-custom fusion-button-default button-5 fusion-button-default-span fusion-button-default-type"
                                                                    style="--button_accent_color:#ffffff;--button_accent_hover_color:#ffffff;--button_border_hover_color:#ffffff;--button_gradient_top_color:#333;--button_gradient_bottom_color:#333;--button_gradient_top_color_hover:#000;--button_gradient_bottom_color_hover:#000;"
                                                                    target="_self" routerLink="/analyses"><span
                                                                        class="fusion-button-text">En savoir
                                                                        plus</span></a></div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fusion-flip-box-wrapper fusion-column col-lg-4 col-md-4 col-sm-4">
                                            <div class="fusion-flip-box flip-right" tabindex="0">
                                                <div class="flip-box-inner-wrapper" style="min-height: 275.217px;">
                                                    <div class="flip-box-front" style="position: absolute;">
                                                        <div class="flip-box-front-inner">
                                                            <div class="flip-box-grafix flip-box-circle">
                                                                <i aria-hidden="true"
                                                                    class="bi bi-exclamation-triangle-fill"></i>
                                                            </div>
                                                            <h2 class="flip-box-heading fusion-responsive-typography-calculated"
                                                                style="--fontSize: 26; line-height: 1.31;"
                                                                data-fontsize="26" data-lineheight="34.0667px">Problèmes
                                                            </h2>
                                                            Votre système informatique rencontre des problèmes qui
                                                            échappent à votre contrôle ? Bugs, sécurité
                                                            compromise, conflits logiciels, ou autres complications ?
                                                            Laissez nos experts trouver des solutions adaptées à vos
                                                            besoins spécifiques.
                                                        </div>
                                                    </div>
                                                    <div class="flip-box-back"
                                                        style="--awb-title-back-color: #ffffff; --awb-text-back-color: #ffffff; bottom: 0px;">
                                                        <div class="flip-box-back-inner">
                                                            <h3 class="flip-box-heading-back fusion-responsive-typography-calculated"
                                                                style="--fontSize: 20; line-height: 1.45;"
                                                                data-fontsize="20" data-lineheight="29px">
                                                                Problèmes</h3>
                                                            <p><span style="font-weight: 400;">Notre engagement :
                                                                    identifier la source de vos problèmes informatiques
                                                                    pour éviter la détérioration de votre système et
                                                                    garantir la stabilité de vos opérations.</span></p>
                                                            <div class="fusion-aligncenter">
                                                                <!-- <a class="fusion-button button-flat fusion-button-default-size button-custom fusion-button-default button-6 fusion-button-default-span fusion-button-default-type"
                                                                    style="--button_accent_color:#ffffff;--button_accent_hover_color:#ffffff;--button_border_hover_color:#ffffff;--button_gradient_top_color:#333;--button_gradient_bottom_color:#333;--button_gradient_top_color_hover:#000;--button_gradient_bottom_color_hover:#000;"
                                                                    target="_self" routerLink="/problemes">
                                                                    <span class="fusion-button-text">En savoir
                                                                        plus</span>
                                                                </a> -->
                                                                <a class="fusion-button button-flat fusion-button-default-size button-custom fusion-button-default button-6 fusion-button-default-span fusion-button-default-type"
                                                                    style="--button_accent_color:#ffffff;--button_accent_hover_color:#ffffff;--button_border_hover_color:#ffffff;--button_gradient_top_color:#333;--button_gradient_bottom_color:#333;--button_gradient_top_color_hover:#000;--button_gradient_bottom_color_hover:#000;"
                                                                    target="_self" routerLink="/demande-service">
                                                                    <span class="fusion-button-text">Demande de
                                                                        service</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fusion-bg-parallax" data-bg-align="center center" data-direction="up" data-mute="false"
                        data-opacity="100" data-velocity="-0.3" data-mobile-enabled="false" data-break_parents="0"
                        data-bg-image="assets/images/background-accueil-2.jpg" data-bg-repeat="false"
                        style="display: none;" data-parallax-index="0"></div>
                    <div class="fusion-fullwidth fullwidth-box fusion-builder-row-5 fusion-parallax-up display-none nonhundred-percent-fullwidth non-hundred-percent-height-scrolling bg-parallax-parent"
                        style="--awb-border-sizes-top: 0px; --awb-border-sizes-bottom: 0px; --awb-border-sizes-left: 0px; --awb-border-sizes-right: 0px; --awb-border-radius-top-left: 0px; --awb-border-radius-top-right: 0px; --awb-border-radius-bottom-right: 0px; --awb-border-radius-bottom-left: 0px; --awb-background-image: url(&quot;assets/images/background-accueil-2.jpg&quot;); --awb-background-size: cover; --awb-flex-wrap: wrap;">
                        <div class="fusion-builder-row fusion-row">
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-4 fusion_builder_column_1_1 1_1 fusion-one-full fusion-column-first fusion-column-last"
                                style="--awb-bg-blend:overlay;--awb-bg-size:cover;">
                                <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy">
                                    <div class="fusion-section-separator section-separator big-half-circle fusion-section-separator-1"
                                        style="--awb-spacer-height:99px;--awb-divider-height:99px;--awb-spacer-padding-top:inherit;--awb-sep-padding:0;--awb-svg-padding:0;">
                                        <div class="fusion-section-separator-svg fusion-section-separator-fullwidth">
                                            <svg class="fusion-big-half-circle-candy" xmlns="http://www.w3.org/2000/svg"
                                                version="1.1" width="100%" height="100" viewBox="0 0 100 100"
                                                preserveAspectRatio="none" fill="rgba(255,255,255,1)">
                                                <path d="M0 0 C55 180 100 0 100 0 Z"></path>
                                            </svg>
                                        </div>
                                        <div class="fusion-section-separator-spacer fusion-section-separator-fullwidth">
                                            <div class="fusion-section-separator-spacer-height"></div>
                                        </div>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-5 fusion_builder_column_1_1 1_1 fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height"
                                style="--awb-bg-blend:overlay;--awb-bg-size:cover;--awb-margin-top:100px;--awb-margin-bottom:55px;">
                                <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy"
                                    style="background-color: #0000007b;">
                                    <div class="fusion-counters-box counters-box row fusion-clearfix fusion-columns-4">
                                        <div class="fusion-counter-box fusion-column col-counter-box counter-box-wrapper col-lg-3 col-md-3 col-sm-3 fusion-counter-box-icon-top"
                                            data-animationoffset="top-into-view">
                                            <div class="counter-box-container">
                                                <div class="content-box-percentage content-box-counter"><i
                                                        class="counter-box-icon bi bi-people-fill"
                                                        aria-hidden="true"></i><span>11</span>
                                                </div>
                                                <div class="counter-box-content">EXPERTS EN TECHNOLOGIE</div>
                                            </div>
                                        </div>
                                        <div class="fusion-counter-box fusion-column col-counter-box counter-box-wrapper col-lg-3 col-md-3 col-sm-3 fusion-counter-box-icon-top"
                                            data-animationoffset="top-into-view">
                                            <div class="counter-box-container">
                                                <div class="content-box-percentage content-box-counter"><i
                                                        class="counter-box-icon bi bi-cloud-fill"
                                                        aria-hidden="true"></i><span>+ 10</span>
                                                </div>
                                                <div class="counter-box-content">GESTION D’INFRASTRUCTURE & CLOUD</div>
                                            </div>
                                        </div>
                                        <div class="fusion-counter-box fusion-column col-counter-box counter-box-wrapper col-lg-3 col-md-3 col-sm-3 fusion-counter-box-icon-top"
                                            data-animationoffset="top-into-view">
                                            <div class="counter-box-container">
                                                <div class="content-box-percentage content-box-counter"><i
                                                        class="counter-box-icon bi bi-palette-fill"
                                                        aria-hidden="true"></i><span>+ 5</span></div>
                                                <div class="counter-box-content">DESIGN & GRAPHISME </div>
                                            </div>
                                        </div>
                                        <div class="fusion-counter-box fusion-column col-counter-box counter-box-wrapper col-lg-3 col-md-3 col-sm-3 fusion-counter-box-icon-top"
                                            data-animationoffset="top-into-view">
                                            <div class="counter-box-container">
                                                <div class="content-box-percentage content-box-counter"><i
                                                        class="counter-box-icon bi bi-code-slash"
                                                        aria-hidden="true"></i><span>+ 15</span>
                                                </div>
                                                <div class="counter-box-content">DÉVELOPPEMENT & INTÉGRATION</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-6 fusion_builder_column_1_1 1_1 fusion-one-full fusion-column-first fusion-column-last"
                                style="--awb-bg-color:rgba(109,109,109,0);--awb-bg-color-hover:rgba(109,109,109,0);--awb-bg-size:cover;">
                                <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy">
                                    <div class="fusion-section-separator section-separator big-half-circle fusion-section-separator-2"
                                        style="--awb-spacer-height:99px;--awb-divider-height:99px;--awb-spacer-padding-top:inherit;--awb-sep-padding:0;--awb-svg-padding:0;">
                                        <div class="fusion-section-separator-svg fusion-section-separator-fullwidth">
                                            <svg class="fusion-big-half-circle-candy" xmlns="http://www.w3.org/2000/svg"
                                                version="1.1" width="100%" height="100" viewBox="0 0 100 100"
                                                preserveAspectRatio="none" fill="rgba(245,245,245,1)">
                                                <path d="M0 100 C40 0 60 0 100 100 Z"></path>
                                            </svg>
                                        </div>
                                        <div class="fusion-section-separator-spacer fusion-section-separator-fullwidth">
                                            <div class="fusion-section-separator-spacer-height"></div>
                                        </div>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fusion-fullwidth fullwidth-box fusion-builder-row-6 display-none nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"
                        style="--awb-background-position:left top;--awb-border-sizes-top:0px;--awb-border-sizes-bottom:0px;--awb-border-sizes-left:0px;--awb-border-sizes-right:0px;--awb-border-radius-top-left:0px;--awb-border-radius-top-right:0px;--awb-border-radius-bottom-right:0px;--awb-border-radius-bottom-left:0px;--awb-padding-top:95px;--awb-padding-bottom:70px;--awb-background-color:#f5f5f5;--awb-flex-wrap:wrap;">
                        <div class="fusion-builder-row fusion-row">
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-7 fusion_builder_column_1_1 1_1 fusion-one-full fusion-column-first fusion-column-last"
                                style="--awb-padding-right:15%;--awb-padding-left:15%;--awb-bg-blend:overlay;--awb-bg-size:cover;">
                                <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy">
                                    <div class="fusion-text fusion-text-4">
                                        <h2 style="font-weight: 300; text-align: center; --fontSize: 26; line-height: 1.31;"
                                            data-fontsize="26" data-lineheight="34.0667px"
                                            class="fusion-responsive-typography-calculated">Nos Clients
                                            &amp; Partenaires</h2>
                                    </div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-separator"
                                        style="margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:206px;">
                                        <div class="fusion-separator-border sep-single sep-solid"
                                            style="--awb-height:20px;--awb-amount:20px;--awb-sep-color:#378bb0;border-color:#378bb0;border-top-width:2px;">
                                        </div>
                                    </div>
                                    <!-- <div class="fusion-sep-clear"></div>
                                    <div class="fusion-text fusion-text-5">
                                        <p style="text-align: center;"><span style="font-weight: 400;">Une
                                                relation de confiance qui dure depuis plus de 4 ans.</span>
                                        </p>
                                    </div> -->
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-separator fusion-full-width-sep"
                                        style="margin-left: auto;margin-right: auto;margin-top:30px;width:100%;">
                                    </div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-8 fusion_builder_column_1_1 1_1 fusion-one-full fusion-column-first fusion-column-last"
                                style="--awb-bg-blend:overlay;--awb-bg-size:cover;">
                                <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy">
                                    <div
                                        class="fusion-image-carousel fusion-image-carousel-auto fusion-image-carousel-1">
                                        <div class="awb-carousel awb-swiper awb-swiper-carousel swiper-initialized swiper-horizontal swiper-pointer-events swiper-autoheight"
                                            data-autoplay="yes" data-columns="4" data-itemmargin="21"
                                            data-itemwidth="180" data-touchscroll="yes" data-imagesize="auto"
                                            data-scrollitems="1"
                                            style="--awb-columns: 4; --awb-column-spacing: 21px; max-width: 0px; cursor: grab;">
                                            <div class="swiper-wrapper awb-image-carousel-wrapper fusion-flex-align-items-center"
                                                style="transition-duration: 0ms; height: 0px;"
                                                id="swiper-wrapper-d47e6370ac10da3ba" aria-live="on">
                                                <div class="swiper-slide" data-swiper-slide-index="0">
                                                    <div class="fusion-carousel-item-wrapper">
                                                        <div class="fusion-image-wrapper hover-type-none">
                                                            <img width="336" height="206"
                                                                src="assets/images/logo-craa.jpg"
                                                                class="attachment-full size-full" alt=""
                                                                decoding="async"
                                                                srcset="assets/images/logo-craa.jpg 200w, assets/images/logo-craa.jpg 336w"
                                                                sizes="(min-width: 2200px) 100vw, (min-width: 916px) 277px, (min-width: 824px) 369px, (min-width: 732px) 554px, (min-width: 640px) 732px, ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="1">
                                                    <div class="fusion-carousel-item-wrapper">
                                                        <div class="fusion-image-wrapper hover-type-none">
                                                            <img width="336" height="206"
                                                                src="assets/images/logo-humano.jpg"
                                                                class="attachment-full size-full" alt=""
                                                                decoding="async"
                                                                srcset="assets/images/logo-humano.jpg 200w, assets/images/logo-humano.jpg 336w"
                                                                sizes="(min-width: 2200px) 100vw, (min-width: 916px) 277px, (min-width: 824px) 369px, (min-width: 732px) 554px, (min-width: 640px) 732px, ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="2">
                                                    <div class="fusion-carousel-item-wrapper">
                                                        <div class="fusion-image-wrapper hover-type-none">
                                                            <img width="336" height="206"
                                                                src="assets/images/logo-apej.jpg"
                                                                class="attachment-full size-full" alt=""
                                                                decoding="async" fetchpriority="high"
                                                                srcset="assets/images/logo-apej.jpg 200w, assets/images/logo-apej.jpg 336w"
                                                                sizes="(min-width: 2200px) 100vw, (min-width: 916px) 277px, (min-width: 824px) 369px, (min-width: 732px) 554px, (min-width: 640px) 732px, ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="3">
                                                    <div class="fusion-carousel-item-wrapper">
                                                        <div class="fusion-image-wrapper hover-type-none">
                                                            <img width="336" height="206"
                                                                src="assets/images/logo-ebax.jpg"
                                                                class="attachment-full size-full" alt=""
                                                                decoding="async"
                                                                srcset="assets/images/logo-ebax.jpg 200w, assets/images/logo-ebax.jpg 336w"
                                                                sizes="(min-width: 2200px) 100vw, (min-width: 916px) 277px, (min-width: 824px) 369px, (min-width: 732px) 554px, (min-width: 640px) 732px, ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="4">
                                                    <div class="fusion-carousel-item-wrapper">
                                                        <div class="fusion-image-wrapper hover-type-none">
                                                            <img width="336" height="206"
                                                                src="assets/images/logo-ministere-emploi-mali.jpg"
                                                                class="attachment-full size-full" alt=""
                                                                decoding="async"
                                                                srcset="assets/images/logo-ministere-emploi-mali.jpg 200w, assets/images/logo-ministere-emploi-mali.jpg 336w"
                                                                sizes="(min-width: 2200px) 100vw, (min-width: 916px) 277px, (min-width: 824px) 369px, (min-width: 732px) 554px, (min-width: 640px) 732px, ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="5">
                                                    <div class="fusion-carousel-item-wrapper">
                                                        <div class="fusion-image-wrapper hover-type-none">
                                                            <img width="336" height="206"
                                                                src="assets/images/logo-helios-uav.jpg"
                                                                class="attachment-full size-full" alt=""
                                                                decoding="async"
                                                                srcset="assets/images/logo-helios-uav.jpg 200w, assets/images/logo-helios-uav.jpg 336w"
                                                                sizes="(min-width: 2200px) 100vw, (min-width: 916px) 277px, (min-width: 824px) 369px, (min-width: 732px) 554px, (min-width: 640px) 732px, ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="6">
                                                    <div class="fusion-carousel-item-wrapper">
                                                        <div class="fusion-image-wrapper hover-type-none">
                                                            <img width="336" height="206"
                                                                src="assets/images/logo-snts.jpg"
                                                                class="attachment-full size-full" alt=""
                                                                decoding="async"
                                                                srcset="assets/images/logo-snts.jpg 200w, assets/images/logo-snts.jpg 336w"
                                                                sizes="(min-width: 2200px) 100vw, (min-width: 916px) 277px, (min-width: 824px) 369px, (min-width: 732px) 554px, (min-width: 640px) 732px, ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="7">
                                                    <div class="fusion-carousel-item-wrapper">
                                                        <div class="fusion-image-wrapper hover-type-none">
                                                            <img width="336" height="206"
                                                                src="assets/images/logo-e-e-marketing.jpg"
                                                                class="attachment-full size-full" alt=""
                                                                decoding="async"
                                                                srcset="assets/images/logo-e-e-marketing.jpg 200w, assets/images/logo-e-e-marketing.jpg 336w"
                                                                sizes="(min-width: 2200px) 100vw, (min-width: 916px) 277px, (min-width: 824px) 369px, (min-width: 732px) 554px, (min-width: 640px) 732px, ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="8">
                                                    <div class="fusion-carousel-item-wrapper">
                                                        <div class="fusion-image-wrapper hover-type-none">
                                                            <img width="336" height="206"
                                                                src="assets/images/logo-boite-a-innovations.jpg"
                                                                class="attachment-full size-full" alt=""
                                                                decoding="async"
                                                                srcset="assets/images/logo-boite-a-innovations.jpg 200w, assets/images/logo-boite-a-innovations.jpg 336w"
                                                                sizes="(min-width: 2200px) 100vw, (min-width: 916px) 277px, (min-width: 824px) 369px, (min-width: 732px) 554px, (min-width: 640px) 732px, ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="9">
                                                    <div class="fusion-carousel-item-wrapper">
                                                        <div class="fusion-image-wrapper hover-type-none">
                                                            <img width="336" height="206"
                                                                src="assets/images/logo-zoneti.jpg"
                                                                class="attachment-full size-full" alt=""
                                                                decoding="async"
                                                                srcset="assets/images/logo-zoneti.jpg 200w, assets/images/logo-zoneti.jpg 336w"
                                                                sizes="(min-width: 2200px) 100vw, (min-width: 916px) 277px, (min-width: 824px) 369px, (min-width: 732px) 554px, (min-width: 640px) 732px, ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="10">
                                                    <div class="fusion-carousel-item-wrapper">
                                                        <div class="fusion-image-wrapper hover-type-none">
                                                            <img width="336" height="206"
                                                                src="assets/images/logo-inovex.jpg"
                                                                class="attachment-full size-full" alt=""
                                                                decoding="async"
                                                                srcset="assets/images/logo-inovex.jpg 200w, assets/images/logo-inovex.jpg 336w"
                                                                sizes="(min-width: 2200px) 100vw, (min-width: 916px) 277px, (min-width: 824px) 369px, (min-width: 732px) 554px, (min-width: 640px) 732px, ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide" data-swiper-slide-index="11">
                                                    <div class="fusion-carousel-item-wrapper">
                                                        <div class="fusion-image-wrapper hover-type-none">
                                                            <img width="336" height="206"
                                                                src="assets/images/logo-refinery.jpg"
                                                                class="attachment-full size-full" alt=""
                                                                decoding="async"
                                                                srcset="assets/images/logo-refinery.jpg 200w, assets/images/logo-refinery.jpg 336w"
                                                                sizes="(min-width: 2200px) 100vw, (min-width: 916px) 277px, (min-width: 824px) 369px, (min-width: 732px) 554px, (min-width: 640px) 732px, ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><span class="swiper-notification" aria-live="assertive"
                                                aria-atomic="true"></span>
                                        </div>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fusion-bg-parallax" data-bg-align="center bottom" data-direction="down"
                        data-mute="false" data-opacity="100" data-velocity="-0.3" data-mobile-enabled="false"
                        data-break_parents="0" data-bg-image="assets/images/project4-call-to-action.jpg"
                        data-bg-repeat="false" data-bg-color="#03457f" style="display: none;" data-parallax-index="1">
                    </div>
                    <app-before-footer></app-before-footer>
                </div>
            </div>
        </section>
    </div> <!-- fusion-row -->
</main> <!-- #main -->