<div id="sliders-container" class="fusion-slider-visibility">
</div>
<section class="avada-page-titlebar-wrapper" style="height: 800px;" aria-label="Barre de Titre de la page">
    <div class="fusion-page-title-bar fusion-page-title-bar-breadcrumbs fusion-page-title-bar-center">
        <div style="background-size: cover;opacity: 1;background-color: #00000040;height: 800px;width: 100%;">
            <div class="fusion-page-title-row">
                <div class="fusion-page-title-wrapper">
                    <div class="fusion-page-title-captions">
                        <h1 class="entry-title fusion-responsive-typography-calculated"
                            style="--fontSize: 60; line-height: 1.4; font-weight: bold;text-transform: uppercase;" data-fontsize="60" data-lineheight="84px">Business
                            Intelligence</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<main id="main" class="clearfix width-100">
    <div class="fusion-row" style="max-width:100%;">
        <section id="content" class="full-width">
            <div id="post-1410" class="post-1410 page type-page status-publish hentry">
                <span class="entry-title rich-snippet-hidden">Business Intelligence</span><span
                    class="vcard rich-snippet-hidden"><span class="fn"><a href="#/author/clavoinecyprex-com/"
                            title="Articles par clavoine@cyprex.com"
                            rel="author">clavoine@cyprex.com</a></span></span><span
                    class="updated rich-snippet-hidden">2023-05-03T13:02:21-04:00</span>
                <div class="post-content">
                    <div class="fusion-fullwidth fullwidth-box fusion-builder-row-1 has-pattern-background has-mask-background nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"
                        style="--awb-background-position:left top;--awb-border-sizes-top:0px;--awb-border-sizes-bottom:0px;--awb-border-sizes-left:0px;--awb-border-sizes-right:0px;--awb-border-radius-top-left:0px;--awb-border-radius-top-right:0px;--awb-border-radius-bottom-right:0px;--awb-border-radius-bottom-left:0px;--awb-padding-top:50px;--awb-padding-bottom:50px;--awb-background-color:#378bb0;--awb-flex-wrap:wrap;">
                        <div class="fusion-builder-row fusion-row">
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-0 fusion_builder_column_1_1 1_1 fusion-one-full fusion-column-first fusion-column-last"
                                style="--awb-bg-blend:overlay;--awb-bg-size:cover;">
                                <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy">
                                    <div class="fusion-text fusion-text-1">
                                        <h2 style="font-weight: 300; text-align: center; --fontSize: 26; line-height: 1.31;"
                                            data-fontsize="26" data-lineheight="34.0667px"
                                            class="fusion-responsive-typography-calculated"><span
                                                style="color: #ffffff;">Besoin d'un expert en technologie?</span>
                                        </h2>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fusion-fullwidth fullwidth-box fusion-builder-row-2 nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"
                        style="--awb-background-position:left top;--awb-border-sizes-top:0px;--awb-border-sizes-bottom:0px;--awb-border-sizes-left:0px;--awb-border-sizes-right:0px;--awb-border-radius-top-left:0px;--awb-border-radius-top-right:0px;--awb-border-radius-bottom-right:0px;--awb-border-radius-bottom-left:0px;--awb-padding-top:0px;--awb-padding-bottom:20px;--awb-background-color:#ffffff;--awb-flex-wrap:wrap;">
                        <div class="fusion-builder-row fusion-row">
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-1 fusion_builder_column_1_1 1_1 fusion-one-full fusion-column-first fusion-column-last"
                                style="--awb-bg-blend:overlay;--awb-bg-size:cover;--awb-margin-top:-22px;">
                                <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy">
                                    <div class="fusion-aligncenter"><a
                                            class="fusion-button button-flat fusion-button-default-size button-custom fusion-button-default button-1 fusion-button-default-span fusion-button-default-type"
                                            style="--button_accent_color:#ffffff;--button_border_color:#ffffff;--button_accent_hover_color:#333333;--button_border_hover_color:#333333;--button_border_width-top:2px;--button_border_width-right:2px;--button_border_width-bottom:2px;--button_border_width-left:2px;--button_gradient_top_color:#333333;--button_gradient_bottom_color:#333333;--button_gradient_top_color_hover:#ffffff;--button_gradient_bottom_color_hover:#ffffff;"
                                            target="_self" routerLink="/demande-service"><span
                                                class="fusion-button-text">Demande de service</span></a></div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fusion-fullwidth fullwidth-box fusion-builder-row-3 nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"
                        style="--awb-border-radius-top-left:0px;--awb-border-radius-top-right:0px;--awb-border-radius-bottom-right:0px;--awb-border-radius-bottom-left:0px;--awb-padding-top:50px;--awb-padding-bottom:50px;--awb-flex-wrap:wrap;">
                        <div class="fusion-builder-row fusion-row">
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-2 fusion_builder_column_1_1 1_1 fusion-one-full fusion-column-first fusion-column-last"
                                style="--awb-bg-size:cover;">
                                <div
                                    class="fusion-column-wrapper fusion-column-has-shadow fusion-flex-column-wrapper-legacy">
                                    <div class="fusion-text fusion-text-2">
                                        <h2 class="p1 fusion-responsive-typography-calculated"
                                            style="--fontSize: 26; line-height: 1.31;" data-fontsize="26"
                                            data-lineheight="34.0667px">Qu’est-ce que la Business Intelligence ?</h2>
                                        <p>La business intelligence (BI) est l'ensemble des techniques et des outils qui
                                            permettent de collecter, de traiter et d'analyser des données afin de
                                            prendre des décisions plus éclairées. Elle permet aux entreprises de mieux
                                            comprendre leur activité, d'identifier les opportunités de croissance et de
                                            réduire les risques.</p>
                                    </div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-separator fusion-full-width-sep"
                                        style="margin-left: auto;margin-right: auto;margin-top:50px;width:100%;"></div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-text fusion-text-3">
                                        <h2 class="p1 fusion-responsive-typography-calculated"
                                            style="--fontSize: 26; line-height: 1.31;" data-fontsize="26"
                                            data-lineheight="34.0667px">Quels sont les différents services de business
                                            intelligence (BI) que nous vous proposons?</h2>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-3 fusion_builder_column_1_2 1_2 fusion-one-half fusion-column-first"
                                style="--awb-bg-size:cover;width:50%;width:calc(50% - ( ( 4% ) * 0.5 ) );margin-right: 4%;">
                                <div
                                    class="fusion-column-wrapper fusion-column-has-shadow fusion-flex-column-wrapper-legacy">
                                    <ul style="--awb-iconcolor:#378bb0;--awb-line-height:23.8px;--awb-icon-width:23.8px;--awb-icon-height:23.8px;--awb-icon-margin:9.8px;--awb-content-margin:33.6px;"
                                        class="fusion-checklist fusion-checklist-1 fusion-checklist-default fusion-checklist-divider type-icons">
                                        <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                                    class="fusion-li-icon bi bi-check-lg" aria-hidden="true"></i></span>
                                            <div class="fusion-li-item-content">Intégration/développement de reporting
                                            </div>
                                        </li>
                                        <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                                    class="fusion-li-icon bi bi-check-lg" aria-hidden="true"></i></span>
                                            <div class="fusion-li-item-content">
                                                <p>Conseils et orientation en analyse de données</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-5 fusion_builder_column_1_1 1_1 fusion-one-full fusion-column-first fusion-column-last"
                                style="--awb-bg-size:cover;">
                                <div
                                    class="fusion-column-wrapper fusion-column-has-shadow fusion-flex-column-wrapper-legacy">
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-separator fusion-full-width-sep"
                                        style="margin-left: auto;margin-right: auto;margin-top:50px;width:100%;"></div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-text fusion-text-4">
                                        <h2 style="--fontSize: 26; line-height: 1.31;" data-fontsize="26"
                                            data-lineheight="34.0667px" class="fusion-responsive-typography-calculated">
                                            Intégration/développement de reporting</h2>
                                        <p>L'intégration/développement de reporting est un élément clé de la BI. Il
                                            permet de collecter les données de différentes sources, de les transformer
                                            en informations exploitables et de les présenter de manière claire et
                                            concise.​</p>
                                    </div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-separator fusion-full-width-sep"
                                        style="margin-left: auto;margin-right: auto;margin-top:25px;width:100%;"></div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-text fusion-text-5">
                                        <h2 class="p1 fusion-responsive-typography-calculated"
                                            style="--fontSize: 26; line-height: 1.31;" data-fontsize="26"
                                            data-lineheight="34.0667px">Nos services d'intégration/développement de
                                            reporting sont les suivants :</h2>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-6 fusion_builder_column_1_2 1_2 fusion-one-half fusion-column-first"
                                style="--awb-bg-size:cover;width:48%; margin-right: 4%;">
                                <div
                                    class="fusion-column-wrapper fusion-column-has-shadow fusion-flex-column-wrapper-legacy">
                                    <ul style="--awb-iconcolor:#378bb0;--awb-line-height:23.8px;--awb-icon-width:23.8px;--awb-icon-height:23.8px;--awb-icon-margin:9.8px;--awb-content-margin:33.6px;"
                                        class="fusion-checklist fusion-checklist-3 fusion-checklist-default fusion-checklist-divider type-icons">
                                        <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                                    class="fusion-li-icon bi bi-check-lg" aria-hidden="true"></i></span>
                                            <div class="fusion-li-item-content">
                                                <p><strong>Collecte de données :</strong> Nous collectons les données de
                                                    vos différentes sources, qu'il s'agisse de bases de données, de
                                                    systèmes ERP, de plateformes CRM ou d'autres sources.</p>
                                            </div>
                                        </li>
                                        <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                                    class="fusion-li-icon bi bi-check-lg" aria-hidden="true"></i></span>
                                            <div class="fusion-li-item-content">
                                                <p><strong>Transformation des données :</strong> Nous transformons les
                                                    données collectées pour les rendre conformes à vos besoins et
                                                    exigences.</p>
                                            </div>
                                        </li>
                                        <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                                    class="fusion-li-icon bi bi-check-lg" aria-hidden="true"></i></span>
                                            <div class="fusion-li-item-content">
                                                <p><strong>Visualisation des données :</strong> Nous présentons les
                                                    données de manière claire et concise, à l'aide de tableaux, de
                                                    graphiques et d'autres outils de visualisation.</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-5 fusion_builder_column_1_1 1_1 fusion-one-full fusion-column-first fusion-column-last"
                                style="--awb-bg-size:cover;">
                                <div
                                    class="fusion-column-wrapper fusion-column-has-shadow fusion-flex-column-wrapper-legacy">
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-separator fusion-full-width-sep"
                                        style="margin-left: auto;margin-right: auto;margin-top:50px;width:100%;"></div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-text fusion-text-4">
                                        <h2 style="--fontSize: 26; line-height: 1.31;" data-fontsize="26"
                                            data-lineheight="34.0667px" class="fusion-responsive-typography-calculated">
                                            Conseils et orientation en analyse de données</h2>
                                        <p>L'analyse de données est un processus qui consiste à examiner les données
                                            pour identifier des tendances, des modèles et des opportunités.​</p>
                                        <p>Les conseils et l'orientation en analyse de données peuvent vous aider à
                                            tirer le meilleur parti de vos données. Nous pouvons vous aider à développer
                                            une stratégie d'analyse de données, à choisir les bons outils et techniques
                                            et à interpréter les résultats de vos analyses.</p>
                                    </div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-separator fusion-full-width-sep"
                                        style="margin-left: auto;margin-right: auto;margin-top:25px;width:100%;"></div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-text fusion-text-5">
                                        <h2 class="p1 fusion-responsive-typography-calculated"
                                            style="--fontSize: 26; line-height: 1.31;" data-fontsize="26"
                                            data-lineheight="34.0667px">Nos services conseils et d'orientation en
                                            analyse de données sont les suivants :</h2>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-6 fusion_builder_column_1_2 1_2 fusion-one-half fusion-column-first"
                                style="--awb-bg-size:cover;width:48%; margin-right: 4%;">
                                <div
                                    class="fusion-column-wrapper fusion-column-has-shadow fusion-flex-column-wrapper-legacy">
                                    <ul style="--awb-iconcolor:#378bb0;--awb-line-height:23.8px;--awb-icon-width:23.8px;--awb-icon-height:23.8px;--awb-icon-margin:9.8px;--awb-content-margin:33.6px;"
                                        class="fusion-checklist fusion-checklist-3 fusion-checklist-default fusion-checklist-divider type-icons">
                                        <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                                    class="fusion-li-icon bi bi-check-lg" aria-hidden="true"></i></span>
                                            <div class="fusion-li-item-content">
                                                <p><strong>Développement d'une stratégie d'analyse de données :</strong>
                                                    Nous vous aidons à définir vos objectifs d'analyse de données et à
                                                    développer une stratégie pour les atteindre.</p>
                                            </div>
                                        </li>
                                        <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                                    class="fusion-li-icon bi bi-check-lg" aria-hidden="true"></i></span>
                                            <div class="fusion-li-item-content">
                                                <p><strong>Sélection des bons outils et techniques :</strong> Nous vous
                                                    aidons à choisir les bons outils et techniques d'analyse de données
                                                    pour vos besoins.</p>
                                            </div>
                                        </li>
                                        <li class="fusion-li-item"><span class="icon-wrapper circle-no"><i
                                                    class="fusion-li-icon bi bi-check-lg" aria-hidden="true"></i></span>
                                            <div class="fusion-li-item-content">
                                                <p><strong>Interprétation des résultats :</strong> Nous vous aidons à
                                                    interpréter les résultats de vos analyses pour en tirer des insights
                                                    exploitables.</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-5 fusion_builder_column_1_1 1_1 fusion-one-full fusion-column-first fusion-column-last"
                                style="--awb-bg-size:cover;">
                                <div
                                    class="fusion-column-wrapper fusion-column-has-shadow fusion-flex-column-wrapper-legacy">
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-separator fusion-full-width-sep"
                                        style="margin-left: auto;margin-right: auto;margin-top:50px;width:100%;"></div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-text fusion-text-4">
                                        <h2 style="--fontSize: 26; line-height: 1.31;" data-fontsize="26"
                                            data-lineheight="34.0667px" class="fusion-responsive-typography-calculated">
                                            Comment pouvons-nous vous aider ?</h2>
                                        <p>Nous pouvons vous aider à améliorer votre business intelligence et votre
                                            analyse de données. Nous pouvons vous aider à collecter, analyser et
                                            visualiser les données de manière efficace et à tirer le meilleur parti de
                                            vos données pour prendre des décisions éclairées.​</p>
                                        <p>Contactez-nous dès aujourd'hui pour en savoir plus sur nos services.</p>
                                    </div>
                                    <div class="fusion-sep-clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fusion-fullwidth fullwidth-box fusion-builder-row-4 fusion-parallax-none nonhundred-percent-fullwidth non-hundred-percent-height-scrolling"
                        style="--awb-border-sizes-top:0px;--awb-border-sizes-bottom:0px;--awb-border-sizes-left:0px;--awb-border-sizes-right:0px;--awb-border-radius-top-left:0px;--awb-border-radius-top-right:0px;--awb-border-radius-bottom-right:0px;--awb-border-radius-bottom-left:0px;--awb-padding-top:100px;--awb-padding-bottom:90px;--awb-background-image:url(&quot;assets/images/project4-call-to-action.jpg&quot;);--awb-background-size:cover;--awb-flex-wrap:wrap;">
                        <div class="fusion-builder-row fusion-row">
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-8 fusion_builder_column_1_6 1_6 fusion-one-sixth fusion-column-first fusion-no-small-visibility"
                                style="--awb-bg-blend:overlay;--awb-bg-size:cover;width:16.666666666667%;width:calc(16.666666666667% - ( ( 4% + 4% ) * 0.16666666666667 ) );margin-right: 4%;">
                                <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy">
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-separator fusion-full-width-sep"
                                        style="margin-left: auto;margin-right: auto;width:100%;"></div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-9 fusion_builder_column_2_3 2_3 fusion-two-third"
                                style="--awb-bg-color:rgba(255,255,255,0);--awb-bg-color-hover:rgba(255,255,255,0);--awb-bg-size:cover;--awb-margin-top:20px;--awb-margin-bottom:20px;width:66.666666666667%;width:calc(66.666666666667% - ( ( 4% + 4% ) * 0.66666666666667 ) );margin-right: 4%;">
                                <div
                                    class="fusion-column-wrapper fusion-column-has-shadow fusion-flex-column-wrapper-legacy">
                                    <div class="fusion-column-content-centered">
                                        <div class="fusion-column-content">
                                            <div class="fusion-aligncenter"><a
                                                    class="fusion-button button-flat button-xlarge button-default fusion-button-default button-2 fusion-button-default-span fusion-button-default-type"
                                                    target="_self" routerLink="/demande-service"><span
                                                        class="fusion-button-text">Demande de service</span></a></div>
                                        </div>
                                    </div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                            <div class="fusion-layout-column fusion_builder_column fusion-builder-column-10 fusion_builder_column_1_6 1_6 fusion-one-sixth fusion-column-last fusion-no-small-visibility"
                                style="--awb-bg-blend:overlay;--awb-bg-size:cover;width:16.666666666667%;width:calc(16.666666666667% - ( ( 4% + 4% ) * 0.16666666666667 ) );">
                                <div class="fusion-column-wrapper fusion-flex-column-wrapper-legacy">
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-separator fusion-full-width-sep"
                                        style="margin-left: auto;margin-right: auto;width:100%;"></div>
                                    <div class="fusion-sep-clear"></div>
                                    <div class="fusion-clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div> <!-- fusion-row -->
</main> <!-- #main -->