<div class="position-sticky">
    <ul class="nav flex-column text-black">
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin">
                Tableau de bord
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/page">
                Page
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/category">
                Catégorie
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/article">
                Article
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/service-request">
                Demande de service
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/message">
                Message
            </a>
        </li>
    </ul>
</div>